<<<<<<< HEAD
{#<div class="ui small basic modal" id="confirmation-modal">#}
    {#<div class="ui icon header">#}
        {#<i class="warning sign icon"></i>#}
        {#{{ 'sylius.ui.confirm_your_action'|trans }}#}
    {#</div>#}
    {#<div class="content">#}
        {#<p>{{ 'sylius.ui.are_your_sure_you_want_to_perform_this_action'|trans }}</p>#}
    {#</div>#}
    {#<div class="actions">#}
        {#<div class="ui red basic cancel inverted button">#}
            {#<i class="remove icon"></i>#}
            {#{{ 'sylius.ui.no_label'|trans }}#}
        {#</div>#}
        {#<div class="ui green ok inverted button" id="confirmation-button">#}
            {#<i class="checkmark icon"></i>#}
            {#{{ 'sylius.ui.yes_label'|trans }}#}
        {#</div>#}
    {#</div>#}
{#</div>#}

<div class="modal fade" id="confirmation-modal" tabindex="-1" role="dialog" aria-labelledby="confirmation-modalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmation-modalLongTitle">{{ 'sylius.ui.confirm_your_action'|trans }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>{{ 'sylius.ui.are_your_sure_you_want_to_perform_this_action'|trans }}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'sylius.ui.no_label'|trans }}</button>
                <button type="button" class="btn btn-primary">{{ 'sylius.ui.yes_label'|trans }}</button>
            </div>
=======
<div class="ui small basic modal" id="confirmation-modal">
    <div class="ui icon header">
        <i class="warning sign icon"></i>
        {{ 'sylius.ui.confirm_your_action'|trans }}
    </div>
    <div class="content">
        <p>{{ 'sylius.ui.are_your_sure_you_want_to_perform_this_action'|trans }}</p>
    </div>
    <div class="actions">
        <div class="ui red basic cancel inverted button">
            <i class="remove icon"></i>
            {{ 'sylius.ui.no_label'|trans }}
        </div>
        <div class="ui green ok inverted button" id="confirmation-button">
            <i class="checkmark icon"></i>
            {{ 'sylius.ui.yes_label'|trans }}
>>>>>>> 4dc86fc213c30ca942131a3d280f4d0ae9ab4cb2
        </div>
    </div>
</div>