{% from '@SyliusAdmin/Macro/translationForm.html.twig' import translationForm %}

{{ form_errors(form) }}
<div class="ui two column stackable grid">
    <div class="column">
        <div class="ui segment">
            {{ form_row(form.linkLista) }}

            {{ translationForm(form.translations) }}
        </div>
        <div class="ui segment">
            {{ form_row(form.images) }}
        </div>
    </div>
    <div class="column">
        <div class="ui segment">
            <h3 class="ui dividing header">{{ 'app.ui.form_images'|trans }}</h3>
            {{ form_row(form.article_one) }}
            {{ form_row(form.article_two) }}
            {{ form_row(form.article_three) }}
            {{ form_row(form.product_big_one) }}
            {{ form_row(form.product_big_two) }}
            {{ form_row(form.product_one) }}
            {{ form_row(form.product_two) }}
            {{ form_row(form.product_three) }}
            {{ form_row(form.product_four) }}
        </div>
    </div>
</div>
