{% extends '@SyliusShop/layout.html.twig' %}

{% block content %}
    {#DESKTOP#}
    <div class="d-none d-md-block">
        <div class="row">
            <h1 class="mx-md-auto title-home text-center">La Tienda Online de Zapatos para los <b>Bohemios 5 Estrellas</b></h1>
            <a href="{{ path('sylius_shop_homepage') }}" class="btn btn-common btn-shipping"><img src="{{ asset('custom/images/Ico-Envio.svg') }}"> ENVÍO GRATUITO</a>
        </div>
        <ul class="nav justify-content-center nav-categories">
            {% set n = 0 %}
            {% for category in categories %}
                <li class="nav-item">
                    <a href="#" class="nav-link {% if category.name == 0 -%}active{%- endif %}">{{ category.name }}</a>
                </li>
                {% set n = n + 1 %}
            {% endfor %}
        </ul>
    </div>
    {#END DESKTOP#}

    {#TABLET#}

    {#END TABLET#}

    {#MOBILE#}

    {#END MOBILE#}
{% endblock %}