{% extends '@SyliusShop/layout.html.twig' %}
<<<<<<< HEAD
=======
{% import "@SyliusShop/Common/Macro/money.html.twig" as money %}
>>>>>>> 4dc86fc213c30ca942131a3d280f4d0ae9ab4cb2

{% block content %}
    {#DESKTOP#}
    <div class="d-none d-md-block col-12">
        <div class="row">
<<<<<<< HEAD
            <img src="{{ asset('custom/images/01_HOME/01_DESKTOP/Home-1.png') }}" class="img-fluid img-home-1">
            <h1 class="mx-md-auto title-home text-center">La Tienda Online de Zapatos para los <b>Bohemios 5 Estrellas</b></h1>
            <a href="{{ path('sylius_shop_homepage') }}" class="btn btn-common btn-shipping"><img src="{{ asset('custom/images/Ico-Envio.svg') }}"> ENVÍO GRATUITO</a>
=======
            {% if home_data.imagesByType('secundaria') is not empty %}
                {% set path_image_secundary = home_data.imagesByType('secundaria').first.path|imagine_filter(filter|default('sylius_shop_product_original')) %}
            {% endif %}
            <img src="{{ path_image_secundary }}" class="img-fluid img-home-1">
            <h1 class="mx-md-auto title-home text-center">{{ 'app.ui.titulo_home'|trans }} <b>{{ 'app.ui.titulo_home_bold'|trans }}</b></h1>
            <a href="{{ path('sylius_shop_homepage') }}" class="btn btn-common btn-shipping"><img src="{{ asset('custom/images/Ico-Envio.svg') }}"> {{ 'app.ui.shipping_free'|trans }}</a>
>>>>>>> 4dc86fc213c30ca942131a3d280f4d0ae9ab4cb2
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-8 ml-auto px-0">
<<<<<<< HEAD
                        <img src="{{ asset('custom/images/01_HOME/01_DESKTOP/Home-2.png') }}" class="img-fluid img-home-2">
=======
                        {% if home_data.imagesByType('principal') is not empty %}
                            {% set path_image_primary = home_data.imagesByType('principal').first.path|imagine_filter(filter|default('sylius_shop_product_original')) %}
                        {% endif %}
                        <img src="{{ path_image_primary }}" class="img-fluid img-home-2">
>>>>>>> 4dc86fc213c30ca942131a3d280f4d0ae9ab4cb2
                    </div>
                </div>
                <div class="row">
                    <div class="card card-home col-md-8">
<<<<<<< HEAD
                        <h1 class="text-center pb-1">SELECCIÓN DEL MES</h1>
                        <p>Este mes os traemos 4 modelos de zapatos y sandalias que creemos serán unos buenos compañeros de viaje. Desde <b>Tombuctú</b> hasta <b>Don Quijote</b> cruzando la Mancha. Sin olvidar nunca a mujeres guerreras como <b>Gata Cattana</b> o la aportación  de <b>Paul Gauguin</b> al arte moderno del siglo XX.</p>
=======
                        <h1 class="text-center pb-1">{{ 'app.ui.selected_month'|trans|upper }}</h1>
                        <p>{{ home_data.selectionMonth|raw }}</p>
>>>>>>> 4dc86fc213c30ca942131a3d280f4d0ae9ab4cb2
                    </div>
                </div>
                <div class="row">
                    <div class="nav flex-column nav-vertical d-none d-md-flex col-md-6">
<<<<<<< HEAD
                        <a href="#"><img src="{{ asset('custom/images/Ico-Lugares.svg') }}" class="img-fluid"> Lugares</a>
                        <a href="#"><img src="{{ asset('custom/images/Ico-Personajes.svg') }}" class="img-fluid"> Personajes</a>
                        <a href="#"><img src="{{ asset('custom/images/Ico-Arte.svg') }}" class="img-fluid"> Arte</a>
                        <a href="#"><img src="{{ asset('custom/images/Ico-Literatura.svg') }}" class="img-fluid"> Literatura</a>
=======
                        {% for category in categories %}
                            <a href="{{ path('app_category_by_id', {'category' : category.id }) }}"><img src="{{ asset('custom/images/Ico-Lugares.svg') }}" class="img-fluid"> {{ category.name }}</a>
                        {% endfor %}
                        {#<a href="#"><img src="{{ asset('custom/images/Ico-Personajes.svg') }}" class="img-fluid"> Personajes</a>#}
                        {#<a href="#"><img src="{{ asset('custom/images/Ico-Arte.svg') }}" class="img-fluid"> Arte</a>#}
                        {#<a href="#"><img src="{{ asset('custom/images/Ico-Literatura.svg') }}" class="img-fluid"> Literatura</a>#}
>>>>>>> 4dc86fc213c30ca942131a3d280f4d0ae9ab4cb2
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="justify-content-end nav-products">
<<<<<<< HEAD
                    <div class="row product-1">
                        <div class="col-md-6">
                            <img src="{{ asset('custom/images/01_HOME/01_DESKTOP/Aurelia-Jardin.png') }}">
                        </div>
                        <div class="col-md-3 text-center my-auto mr-md-auto">
                            <p class="mb-0">Aurelia Jardin</p>
                            <p class="price">215 </p>
                        </div>
                    </div>
                    <div class="row product-2">
                    <div class="col-md-2"></div>
                    <div class="col-md-6 ml-auto">
                        <img src="{{ asset('custom/images/01_HOME/01_DESKTOP/Aurora-Gold.png') }}">
                        </div>
                        <div class="col-md-2 text-center my-auto">
                            <p class="mb-0">Aurora Gold</p>
                            <p class="price">215 </p>
                        </div>
                    </div>
                    <div class="row product-3">
                        <div class="col-md-6">
                            <img src="{{ asset('custom/images/01_HOME/01_DESKTOP/Amokoi-Pompon.png') }}">
                        </div>
                        <div class="col-md-3 text-center my-auto">
                            <p class="mb-0">Amokoi Pompon</p>
                            <p class="price">215 </p>
                        </div>
                    </div>
                    <div class="row product-4">
                        <div class="col-md-6">
                            <img src="{{ asset('custom/images/01_HOME/01_DESKTOP/Amokoi-Pompon-2.png') }}">
                        </div>
                        <div class="col-md-3 text-center my-auto">
                            <p class="mb-0">Amokoi Pompon</p>
                            <p class="price">215 </p>
                        </div>
                    </div>
                    <div class="d-none d-sm-block d-md-none zapatilla">
                        <img src="{{ asset('custom/images/01_HOME/02_TABLET/Zapatilla-Azul.png') }}">
                        <p class="text-product pt-3">El proceso de trabajo con pólvora del artista chino Cai Guo-Qiang ... sobre la pólvora, que en lugares como Estados Unidos, China Japón</p>
                        <p class="title-product">Aston Jean</p>
                        <p class="price">420 E</p>
                    </div>
=======
                    <div class="row product-1 ml-auto">
                        <div class="col-md-6">
                            {% if home_data.productOne.imagesByType('home') is not empty %}
                                {% set path_product_one = home_data.productOne.imagesByType('home').first.path|imagine_filter(filter|default('sylius_shop_product_original')) %}
                            {% endif %}
                            <img src="{{ path_product_one }}">
                        </div>
                        <div class="col-md-3 text-center my-auto mr-md-auto">
                            <p class="mb-0">{{ home_data.productOne.name }}</p>
                            <p class="price">{{ money.calculatePrice(home_data.productOne|sylius_resolve_variant) }}</p>
                        </div>
                    </div>

                    <div class="row product-2">
                    <div class="col-md-2"></div>
                    <div class="col-md-6 ml-auto">
                        {% if home_data.productTwo.imagesByType('home') is not empty %}
                            {% set path_product_two = home_data.productTwo.imagesByType('home').first.path|imagine_filter(filter|default('sylius_shop_product_original')) %}
                        {% endif %}
                        <img src="{{ path_product_two }}">
                        </div>
                        <div class="col-md-2 text-center my-auto">
                            <p class="mb-0">{{ home_data.productTwo.name }}</p>
                            <p class="price">{{ money.calculatePrice(home_data.productTwo|sylius_resolve_variant) }}</p>
                        </div>
                    </div>
                    <div class="row product-3">
                        <div>
                            {% if home_data.productThree.imagesByType('home') is not empty %}
                                {% set path_product_three = home_data.productThree.imagesByType('home').first.path|imagine_filter(filter|default('sylius_shop_product_original')) %}
                            {% endif %}
                            <img src="{{ path_product_three }}">
                        </div>
                        <div class="text-center my-auto">
                            <p class="mb-0">{{ home_data.productThree.name }}</p>
                            <p class="price">{{ money.calculatePrice(home_data.productThree|sylius_resolve_variant) }}</p>
                        </div>
                    </div>
                    <div class="row product-4">
                        <div>
                            {% if home_data.productFour.imagesByType('home') is not empty %}
                                {% set path_product_four = home_data.productFour.imagesByType('home').first.path|imagine_filter(filter|default('sylius_shop_product_original')) %}
                            {% endif %}
                            <img src="{{ path_product_four }}">
                        </div>
                        <div class="text-center my-auto">
                            <p class="mb-0">{{ home_data.productFour.name }}</p>
                            <p class="price">{{ money.calculatePrice(home_data.productFour|sylius_resolve_variant) }}</p>
                        </div>
                    </div>
>>>>>>> 4dc86fc213c30ca942131a3d280f4d0ae9ab4cb2
                </div>
            </div>
        </div>
        <div class="row mt-md-5 decalogo">
            <div class="col-md-4 m-auto">
<<<<<<< HEAD
                <h1 class="px-5">Decálogo del <br>
                    <b>Bohemio 5 <br>
                        Estrellas</b></h1>
=======
                <h1 class="px-5">{{ 'app.ui.decalogo'|trans }} <br>
                    <b>{{ 'app.ui.bohemio'|trans }} <br>
                        {{ 'app.ui.stars'|trans }}</b></h1>
>>>>>>> 4dc86fc213c30ca942131a3d280f4d0ae9ab4cb2
                <div class="line1"></div>
            </div>

            <div class="col-md-4 m-auto">
<<<<<<< HEAD
                <h2><b>El arte no se explica, se siente</b></h2>
                <p>Con el arte se constituye lo que ve, toca, escucha, saborea y huele, pero también aquello invisible que no puede explicar, solo vivir.</p>
=======
                <h2><b>{{ 'app.ui.the_art'|trans }}</b></h2>
                <p>{{ 'app.ui.the_art_text'|trans }}</p>
>>>>>>> 4dc86fc213c30ca942131a3d280f4d0ae9ab4cb2
            </div>
            <div class="col-md-4 px-0">
                <img src="{{ asset('custom/images/01_HOME/01_DESKTOP/Zapatillas.png') }}">
            </div>
        </div>
<<<<<<< HEAD
        <div class="row my-5 molino">
            <div class="col-6 text-right ml-auto my-auto pl-4">
                <h2>En un lugar de La Mancha de cuyo...</h2>
                <p>¿Quizás eres una de esas personas que no tienen problemas para despertarse por la mañana? ¿incluso podrías despertar con una sonrisa en tu cara? ¿o tal vez eres alguien que simplemente no puede poner tu cuerpo en marcha y no pronunciará una palabra hasta que estés completamente despierto?</p>
                <a href="#">Descúbrelo <i class="fas fa-angle-right"></i> </a>
            </div>
            <div class="col-6">
                <img src="{{ asset('custom/images/01_HOME/01_DESKTOP/Molino.png') }}" class="col-8">
                <img src="{{ asset('custom/images/01_HOME/01_DESKTOP/Triangulo-Molino-Grande.svg') }}" class="triangulo-grande">
                <img src="{{ asset('custom/images/01_HOME/01_DESKTOP/Triangulo-Molino-Peque.svg') }}" class="triangulo-peque">
            </div>
        </div>
        <div class="row zapatilla">
            <div class="col-4 p-0">
                <p class="pl-5">THE SOUND OF Culture POQ : Playlist</p>
                <img src="{{ asset('custom/images/01_HOME/01_DESKTOP/Playlist.png') }}">
=======
        <div class="row my-5 article-one">
            <div class="col-6 text-right ml-auto my-auto pl-4">
                <h2>{{ home_data.articleOne.title }}</h2>
                <p>{{ home_data.articleOne.description }}</p>
                <a href="{{ path('app_article_by_id', {'article': home_data.articleOne }) }}">{{ 'app.ui.discover'|trans }} <i class="fas fa-angle-right"></i> </a>
            </div>
            <div class="col-6">
                {% if home_data.articleOne.imagesByType('principal') is not empty %}
                    {% set path_article_one = home_data.articleOne.imagesByType('principal').first.path|imagine_filter(filter|default('sylius_shop_product_original')) %}
                {% endif %}

                {% if home_data.articleOne.category.imagesByType('grande') is not empty %}
                    {% set path_triangle_big_one = home_data.articleOne.category.imagesByType('principal').first.path|imagine_filter(filter|default('sylius_shop_product_original')) %}
                {% endif %}
                {% if home_data.articleOne.category.imagesByType('chico') is not empty %}
                    {% set path_triangle_small_one = home_data.articleOne.category.imagesByType('chico').first.path|imagine_filter(filter|default('sylius_shop_product_original')) %}
                {% endif %}


                <img src="{{ path_article_one }}">
                <img src="{{ path_triangle_big_one }}" class="triangulo-grande">
                <img src="{{ path_triangle_small_one }}" class="triangulo-peque">
            </div>
        </div>
        <div class="row product-big-one">
            <div class="col-4 p-0">
                <p class="pl-5">{{ home_data.listSpotify }}</p>
                <iframe class="px-5 list-spotify" src="https://open.spotify.com/embed?uri={{ home_data.linkLista}}" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                {#<img src="{{ asset('custom/images/01_HOME/01_DESKTOP/Playlist.png') }}">#}
>>>>>>> 4dc86fc213c30ca942131a3d280f4d0ae9ab4cb2
                <img src="{{ asset('custom/images/01_HOME/01_DESKTOP/Triangulo-Playlist-Grande.svg') }}" class="playlist-grande">
                <img src="{{ asset('custom/images/01_HOME/01_DESKTOP/Triangulo-Playlist-Peque.svg') }}" class="playlist-peque">
            </div>
            <div class="col-4">
<<<<<<< HEAD
                <img src="{{ asset('custom/images/01_HOME/01_DESKTOP/Cantante.png') }}">
            </div>
            <div class="col-2">
                <p class="text-product">El proceso de trabajo con pólvora del artista chino Cai Guo-Qiang ... sobre la pólvora, que en lugares como Estados Unidos, China Japón</p>
                <p class="title-product">Aston Jean</p>
                <p class="price">420 E</p>
            </div>
            <div class="col-2 p-0">
                <img src="{{ asset('custom/images/01_HOME/01_DESKTOP/Zapatilla-Grande.png') }}">
            </div>
        </div>
        <div class="row arte-polvora">
            <div class="col-7">
                <img src="{{ asset('custom/images/01_HOME/01_DESKTOP/Triangulo-Mujer-Peque.svg') }}" class="triangulo-peque">
                <img src="{{ asset('custom/images/01_HOME/01_DESKTOP/Triangulo-Mujer-Grande.svg') }}" class="triangulo-grande">
                <img src="{{ asset('custom/images/01_HOME/01_DESKTOP/Mujer.png') }}" class="img-fluid">
            </div>
            <div class="col-5 m-auto p-4">
                <h2>
                    <b>Cai Guo-Qiang</b>, el arte de la pólvora
                </h2>
                <p>
                    El proceso de trabajo con pólvora del artista chino Cai Guo-Qiang ... sobre la pólvora, que en lugares como Estados Unidos, China Japón
                </p>
                <a href="#">Descúbrelo <i class="fas fa-angle-right"></i></a>
            </div>
        </div>
        <div class="row fuego">
            <div class="col-5">
                <img src="{{ asset('custom/images/01_HOME/01_DESKTOP/Sandalia-Atras.png') }}">
            </div>
            <div class="col-3">
                <p class="text-product">El proceso de trabajo con pólvora del artista chino Cai Guo-Qiang ... sobre la pólvora, que en lugares como Estados Unidos, China Japón</p>
                <p class="title-product">Aston Jean</p>
                <p class="price">420 E</p>
            </div>
            <div class="col-4 px-0">
                <img src="{{ asset('custom/images/01_HOME/01_DESKTOP/Hombre-Fuego.png') }}" class="hombre-fuego">
=======
                {% if home_data.imagesByType('musico') is not empty %}
                    {% set path_musico = home_data.imagesByType('musico').first.path|imagine_filter(filter|default('sylius_shop_product_original')) %}
                {% endif %}
                <img src="{{ path_musico }}" class="p-0 p-lg-5">
            </div>
            <div class="col-2">
                <p class="text-product">{{ home_data.productBigOne.shortDescription|raw }}</p>
                <p class="title-product">{{ home_data.productBigOne.name }}</p>
                <p class="price">{{ money.calculatePrice(home_data.productBigOne|sylius_resolve_variant) }}</p>
            </div>
            <div class="col-2 p-0">
                {% if home_data.productBigOne.imagesByType('grande') is not empty %}
                    {% set path_product_big_one = home_data.productBigOne.imagesByType('grande').first.path|imagine_filter(filter|default('sylius_shop_product_original')) %}
                {% endif %}
                <img src="{{ path_product_big_one }}">
            </div>
        </div>
        <div class="row article-two">
            <div class="col-7">
                {% if home_data.articleTwo.imagesByType('principal') is not empty %}
                    {% set path_article_two = home_data.articleTwo.imagesByType('principal').first.path|imagine_filter(filter|default('sylius_shop_product_original')) %}
                {% endif %}

                {% if home_data.articleTwo.category.imagesByType('grande') is not empty %}
                    {% set path_triangle_big_two = home_data.articleTwo.category.imagesByType('principal').first.path|imagine_filter(filter|default('sylius_shop_product_original')) %}
                {% endif %}
                {% if home_data.articleTwo.category.imagesByType('chico') is not empty %}
                    {% set path_triangle_small_two = home_data.articleTwo.category.imagesByType('chico').first.path|imagine_filter(filter|default('sylius_shop_product_original')) %}
                {% endif %}


                <img src="{{ path_triangle_small_two}}" class="triangulo-peque">
                <img src="{{ path_triangle_big_two }}" class="triangulo-grande">
                <img src="{{ path_article_two }}" class="img-fluid p-5">
                {#<img src="{{ asset('custom/images/01_HOME/01_DESKTOP/Triangulo-Mujer-Peque.svg') }}" class="triangulo-peque">#}
                {#<img src="{{ asset('custom/images/01_HOME/01_DESKTOP/Triangulo-Mujer-Grande.svg') }}" class="triangulo-grande">#}
                {#<img src="{{ asset('custom/images/01_HOME/01_DESKTOP/Mujer.png') }}" class="img-fluid">#}
            </div>
            <div class="col-5 m-auto p-4">
                <h2>
                    {{ home_data.articleTwo.title }}
                </h2>
                <p>
                    {{ home_data.articleTwo.description }}
                </p>
                <a href="{{ path('app_article_by_id', {'article': home_data.articleTwo }) }}">{{ 'app.ui.discover'|trans }} <i class="fas fa-angle-right"></i></a>
            </div>
        </div>
        <div class="row article-three py-4">
            <div class="col-5">
                {% if home_data.productBigTwo.imagesByType('grande') is not empty %}
                    {% set path_product_big_two = home_data.productBigTwo.imagesByType('grande').first.path|imagine_filter(filter|default('sylius_shop_product_original')) %}
                {% endif %}
                <img src="{{ path_product_big_two }}" class="p-5">
            </div>
            <div class="col-3">
                <p class="text-product">{{ home_data.productBigTwo.shortDescription|raw }}</p>
                <p class="title-product">{{ home_data.productBigTwo.name }}</p>
                <p class="price">{{ money.calculatePrice(home_data.productBigTwo|sylius_resolve_variant) }}</p>
            </div>
            <div class="col-4 px-0 m-auto">
                {% if home_data.articleThree.imagesByType('principal') is not empty %}
                    {% set path_article_three = home_data.articleThree.imagesByType('principal').first.path|imagine_filter(filter|default('sylius_shop_product_original')) %}
                {% endif %}

                {% if home_data.articleThree.category.imagesByType('grande') is not empty %}
                    {% set path_triangle_big_three = home_data.articleThree.category.imagesByType('principal').first.path|imagine_filter(filter|default('sylius_shop_product_original')) %}
                {% endif %}
                {% if home_data.articleThree.category.imagesByType('chico') is not empty %}
                    {% set path_triangle_small_three = home_data.articleThree.category.imagesByType('chico').first.path|imagine_filter(filter|default('sylius_shop_product_original')) %}
                {% endif %}


                <img src="{{ path_triangle_small_three}}" class="triangulo-peque">
                <img src="{{ path_triangle_big_three }}" class="triangulo-grande">
                <img src="{{ path_article_three }}" class="hombre-fuego">
                <h2>
                    {{ home_data.articleThree.title }}
                </h2>
                <p>
                    {{ home_data.articleThree.description }}
                </p>
                <a href="{{ path('app_article_by_id', {'article': home_data.articleThree }) }}">{{ 'app.ui.discover'|trans }} <i class="fas fa-angle-right"></i></a>
>>>>>>> 4dc86fc213c30ca942131a3d280f4d0ae9ab4cb2
            </div>
        </div>
    </div>
    {#FIN DESKTOP#}

    {#TABLET#}
    <div class="d-none d-sm-block d-md-none col-12">
        <div class="row">
            <div class="col-9">
                <div class="row">
<<<<<<< HEAD
                    <h1 class="mx-auto title-home text-center">La Tienda Online de Zapatos para los <b>Bohemios 5 Estrellas</b></h1>
                </div>
                <div class="px-0">
                    <img src="{{ asset('custom/images/01_HOME/01_DESKTOP/Home-2.png') }}" class="img-fluid img-home-2">
                </div>
                <div class="row">
                    <div class="card card-home col-11">
                        <h1 class="text-center pb-1">SELECCIÓN DEL MES</h1>
                        <p>Este mes os traemos 4 modelos de zapatos y sandalias que creemos serán unos buenos compañeros de viaje. Desde <b>Tombuctú</b> hasta <b>Don Quijote</b> cruzando la Mancha. Sin olvidar nunca a mujeres guerreras como <b>Gata Cattana</b> o la aportación  de <b>Paul Gauguin</b> al arte moderno del siglo XX.</p>
=======
                    <h1 class="mx-auto title-home text-center">{{ 'app.ui.titulo_home'|trans }} <b>{{ 'app.ui.titulo_home_bold'|trans }}</b></h1>
                </div>
                <div class="px-0">
                    <img src="{{ path_image_primary }}" class="img-fluid img-home-2">
                </div>
                <div class="row">
                    <div class="card card-home col-11">
                        <h1 class="text-center pb-1">{{ 'app.ui.selected_month'|trans|upper }}</h1>
                        <p>{{ home_data.selectionMonth|raw }}</p>
>>>>>>> 4dc86fc213c30ca942131a3d280f4d0ae9ab4cb2
                    </div>
                </div>
                <div class="row decalogo text-center">
                    <div class="col-md-4 m-auto">
<<<<<<< HEAD
                        <h1 class="px-5">Decálogo del
                            <b>Bohemio 5
                                Estrellas</b></h1>
=======
                        <h1 class="px-5">{{ 'app.ui.decalogo'|trans }}
                            <b>{{ 'app.ui.bohemio'|trans }}
                                {{ 'app.ui.stars'|trans }}</b></h1>
>>>>>>> 4dc86fc213c30ca942131a3d280f4d0ae9ab4cb2
                        <div class="line1 d-none d-md-block"></div>
                    </div>

                    <div class="col-md-4 col-12 m-auto">
<<<<<<< HEAD
                        <h2><b>El arte no se explica, se siente</b></h2>
                        <p>Con el arte se constituye lo que ve, toca, escucha, saborea y huele, pero también aquello invisible que no puede explicar, solo vivir.</p>
=======
                        <h2><b>{{ 'app.ui.the_art'|trans }}</b></h2>
                        <p>{{ 'app.ui.the_art_text'|trans }}</p>
>>>>>>> 4dc86fc213c30ca942131a3d280f4d0ae9ab4cb2
                    </div>
                    <div class="col-md-4 d-none d-md-block">
                        <img src="{{ asset('custom/images/01_HOME/01_DESKTOP/Zapatillas.png') }}">
                    </div>
                </div>
<<<<<<< HEAD
                <div class="row molino p-sm-4 p-2">
                    <div>
                        <img src="{{ asset('custom/images/01_HOME/01_DESKTOP/Molino.png') }}" class="col-md-8">
                    </div>
                    <div class="mt-4">
                        <h2>En un lugar de La Mancha de cuyo...</h2>
                        <p>¿Quizás eres una de esas personas que no tienen problemas para despertarse por la mañana? ¿incluso podrías despertar con una sonrisa en tu cara? ¿o tal vez eres alguien que simplemente no puede poner tu cuerpo en marcha y no pronunciará una palabra hasta que estés completamente despierto?</p>
                        <a href="#">Descúbrelo <i class="fas fa-angle-right"></i> </a>
                    </div>
                </div>
                <div class="row pl-0 pr-4 zapatilla">
                    <p class="pl-5">THE SOUND OF Culture POQ : Playlist</p>
                    <img src="{{ asset('custom/images/01_HOME/01_DESKTOP/Playlist.png') }}">
=======
                <div class="row article-one p-sm-4 p-2">
                    <div>
                        <img src="{{ path_article_one }}" class="col-md-8">
                    </div>
                    <div class="mt-4">
                        <h2>{{ home_data.articleOne.title }}</h2>
                        <p>{{ home_data.articleOne.description }}</p>
                        <a href="{{ path('app_article_by_id', {'article': home_data.articleOne}) }}">{{ 'app.ui.discover'|trans }} <i class="fas fa-angle-right"></i> </a>
                    </div>
                </div>
                <div class="row pl-0 pr-4 product-big-one">
                    <p class="pl-5">{{ home_data.listSpotify }}</p>
                    <iframe class="px-5" src="https://open.spotify.com/embed?uri={{ home_data.linkLista }}" width="100%" height="600" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
>>>>>>> 4dc86fc213c30ca942131a3d280f4d0ae9ab4cb2
                    <img src="{{ asset('custom/images/01_HOME/01_DESKTOP/Triangulo-Playlist-Grande.svg') }}" class="playlist-grande">
                    <img src="{{ asset('custom/images/01_HOME/01_DESKTOP/Triangulo-Playlist-Peque.svg') }}" class="playlist-peque">
                </div>
            </div>
            <div class="col-3">
                <div class="row">
<<<<<<< HEAD
                    <a href="{{ path('sylius_shop_homepage') }}" class="btn btn-common btn-shipping"><img src="{{ asset('custom/images/Ico-Envio.svg') }}"> ENVÍO GRATUITO</a>
                </div>
                <div class="row mt-5">
                    <div class="justify-content-end nav-products">
                        <div class="row product-1">
                            <div class="col-md-6">
                                <img src="{{ asset('custom/images/01_HOME/01_DESKTOP/Aurelia-Jardin.png') }}">
                            </div>
                            <div class="col-md-3 text-center my-auto mr-md-auto">
                                <p class="mb-0">Aurelia Jardin</p>
                                <p class="price">215 </p>
                            </div>
                        </div>
                        <div class="row product-2">
                            <div class="col-md-2"></div>
                            <div class="col-md-6 ml-auto">
                                <img src="{{ asset('custom/images/01_HOME/01_DESKTOP/Aurora-Gold.png') }}">
                            </div>
                            <div class="col-md-2 text-center my-auto">
                                <p class="mb-0">Aurora Gold</p>
                                <p class="price">215 </p>
                            </div>
                        </div>
                        <div class="row product-3">
                            <div class="col-md-6">
                                <img src="{{ asset('custom/images/01_HOME/01_DESKTOP/Amokoi-Pompon.png') }}">
                            </div>
                            <div class="col-md-3 text-center my-auto">
                                <p class="mb-0">Amokoi Pompon</p>
                                <p class="price">215 </p>
                            </div>
                        </div>
                        <div class="row product-4">
                            <div class="col-md-6">
                                <img src="{{ asset('custom/images/01_HOME/01_DESKTOP/Amokoi-Pompon-2.png') }}">
                            </div>
                            <div class="col-md-3 text-center my-auto">
                                <p class="mb-0">Amokoi Pompon</p>
                                <p class="price">215 </p>
                            </div>
                        </div>
                        <div class="zapatilla">
                            <img src="{{ asset('custom/images/01_HOME/02_TABLET/Zapatilla-Azul.png') }}">
                            <p class="text-product pt-3">El proceso de trabajo con pólvora del artista chino Cai Guo-Qiang ... sobre la pólvora, que en lugares como Estados Unidos, China Japón</p>
                            <p class="title-product">Aston Jean</p>
                            <p class="price">420 E</p>
                        </div>
                        <div class="fuego">
                            <img src="{{ asset('custom/images/01_HOME/01_DESKTOP/Sandalia-Atras.png') }}">
                            <p class="text-product">El proceso de trabajo con pólvora del artista chino Cai Guo-Qiang ... sobre la pólvora, que en lugares como Estados Unidos, China Japón</p>
                            <p class="title-product">Aston Jean</p>
                            <p class="price">420 E</p>
=======
                    <a href="{{ path('sylius_shop_homepage') }}" class="btn btn-common btn-shipping"><img src="{{ asset('custom/images/Ico-Envio.svg') }}"> {{ 'app.ui.shipping_free'|trans }}</a>
                </div>
                <div class="row mt-5">
                    <div class="justify-content-end nav-products">
                        <div class="product-1">
                            <div class="col-md-6">
                                <img src="{{ path_product_one }}">
                            </div>
                            <div class="col-md-3 text-center my-auto mr-md-auto">
                                <p class="mb-0">{{ home_data.productOne.name }}</p>
                                <p class="price">{{ money.calculatePrice(home_data.productOne|sylius_resolve_variant) }}</p>
                            </div>
                        </div>
                        <div class="product-2">
                            <div class="col-md-2"></div>
                            <div class="col-md-6 ml-auto">
                                <img src="{{ path_product_two }}">
                            </div>
                            <div class="col-md-2 text-center my-auto">
                                <p class="mb-0">{{ home_data.productTwo.name }}</p>
                                <p class="price">{{ money.calculatePrice(home_data.productTwo|sylius_resolve_variant) }}</p>
                            </div>
                        </div>
                        <div class="product-3">
                            <div class="col-md-6">
                                <img src="{{ path_product_three }}">
                            </div>
                            <div class="col-md-3 text-center my-auto">
                                <p class="mb-0">{{ home_data.productThree.name }}</p>
                                <p class="price">{{ money.calculatePrice(home_data.productThree|sylius_resolve_variant) }}</p>
                            </div>
                        </div>
                        <div class="product-4">
                            <div class="col-md-6">
                                <img src="{{ path_product_four }}">
                            </div>
                            <div class="col-md-3 text-center my-auto">
                                <p class="mb-0">{{ home_data.productFour.name }}</p>
                                <p class="price">{{ money.calculatePrice(home_data.productFour|sylius_resolve_variant) }}</p>
                            </div>
                        </div>
                        <div class="product-big-one">
                            <img src="{{ path_product_big_one }}">
                            <p class="text-product pt-3">{{ home_data.productBigOne.shortDescription|raw }}</p>
                            <p class="title-product">{{ home_data.productBigOne.name }}</p>
                            <p class="price">{{ money.calculatePrice(home_data.productBigOne|sylius_resolve_variant) }}</p>
                        </div>
                        <div class="product-big-two">
                            <img src="{{ path_product_big_two }}">
                            <p class="text-product pt-3">{{ home_data.productBigTwo.shortDescription|raw }}</p>
                            <p class="title-product">{{ home_data.productBigTwo.name }}</p>
                            <p class="price">{{ money.calculatePrice(home_data.productBigTwo|sylius_resolve_variant) }}</p>
>>>>>>> 4dc86fc213c30ca942131a3d280f4d0ae9ab4cb2
                        </div>
                    </div>
                </div>
            </div>
        </div>
<<<<<<< HEAD
        <div class="row arte-polvora">
            <div class="col-7">
                <img src="{{ asset('custom/images/01_HOME/01_DESKTOP/Mujer.png') }}" class="img-fluid">
            </div>
            <div class="col-5 m-auto p-4">
                <h2>
                    <b>Cai Guo-Qiang</b>, el arte de la pólvora
                </h2>
                <p>
                    El proceso de trabajo con pólvora del artista chino Cai Guo-Qiang ... sobre la pólvora, que en lugares como Estados Unidos, China Japón
                </p>
                <a href="#">Descúbrelo <i class="fas fa-angle-right"></i></a>
            </div>
        </div>
        <div class="row fuego">
            <div class="col-6 m-auto text-right">
                <h2>
                    <b>Cai Guo-Qiang</b>, el arte de la pólvora
                </h2>
                <p>
                    El proceso de trabajo con pólvora del artista chino Cai Guo-Qiang ... sobre la pólvora, que en lugares como Estados Unidos, China Japón
                </p>
                <a href="#">Descúbrelo <i class="fas fa-angle-right"></i></a>
            </div>
            <div class="col-6 px-0">
                <img src="{{ asset('custom/images/01_HOME/02_TABLET/Hombre-Fuego.png') }}" class="hombre-fuego">
=======
        <div class="row article-two">
            <div class="col-7">
                <img src="{{ path_article_two }}" class="img-fluid">
            </div>
            <div class="col-5 m-auto p-4">
                <h2>
                    {{ home_data.articleTwo.title }}
                </h2>
                <p>
                    {{ home_data.articleTwo.description }}
                </p>
                <a href="{{ path('app_article_by_id', {'article': home_data.articleTwo }) }}">{{ 'app.ui.discover'|trans }} <i class="fas fa-angle-right"></i></a>
            </div>
        </div>
        <div class="row article-three">
            <div class="col-6 m-auto text-right">
                <h2>
                    {{ home_data.articleThree.title }}
                </h2>
                <p>
                    {{ home_data.articleThree.description}}
                </p>
                <a href="{{ path('app_article_by_id', {'article': home_data.articleTwo }) }}">{{ 'app.ui.discover'|trans }} <i class="fas fa-angle-right"></i></a>
            </div>
            <div class="col-6 px-0">
                <img src="{{ path_article_three }}" class="hombre-fuego">
>>>>>>> 4dc86fc213c30ca942131a3d280f4d0ae9ab4cb2
            </div>
        </div>
    </div>
    {#FIN TABLET#}

    {#MOBILE#}
    <div class="d-block d-sm-none d-md-none">
<<<<<<< HEAD
        <div class="row">
            <h1 class="mx-auto title-home text-center">La Tienda Online de Zapatos para los <b>Bohemios 5 Estrellas</b></h1>
        </div>
        <div class="p-0">
            <img src="{{ asset('custom/images/01_HOME/01_DESKTOP/Home-2.png') }}" class="img-fluid img-home-2">
        </div>
        <div class="row">
            <div class="card card-home">
                <h1 class="text-center pb-1">SELECCIÓN DEL MES</h1>
                <p>Este mes os traemos 4 modelos de zapatos y sandalias que creemos serán unos buenos compañeros de viaje. Desde <b>Tombuctú</b> hasta <b>Don Quijote</b> cruzando la Mancha. Sin olvidar nunca a mujeres guerreras como <b>Gata Cattana</b> o la aportación  de <b>Paul Gauguin</b> al arte moderno del siglo XX.</p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="justify-content-end nav-products">
                <div class="row product-1">
                    <div class="col-md-6">
                        <img src="{{ asset('custom/images/01_HOME/01_DESKTOP/Aurelia-Jardin.png') }}">
                    </div>
                    <div class="col-md-3 text-center my-auto mr-md-auto">
                        <p class="mb-0">Aurelia Jardin</p>
                        <p class="price">215 </p>
=======
        {#<div class="row">#}
            <h1 class="mx-auto title-home text-center">{{ 'app.ui.titulo_home'|trans }} <b>{{ 'app.ui.titulo_home_bold'|trans }}</b></h1>
        {#</div>#}
        <div class="p-0">
            <img src="{{ path_image_primary }}" class="img-fluid img-home-2">
        </div>
        {#<div class="row">#}
            <div class="card card-home">
                <h1 class="text-center pb-1">{{ 'app.ui.selected_month'|trans|upper }}</h1>
                <p>{{ home_data.selectionMonth|raw }}</p>
            </div>
        {#</div>#}
        <div class="mt-2">
            <div class="justify-content-end nav-products">
                <div class="row product-1">
                    <div class="col-md-6">
                        <img src="{{ path_product_one }}">
                    </div>
                    <div class="col-md-3 text-center my-auto mr-md-auto">
                        <p class="mb-0">{{ home_data.productOne.name }}</p>
                        <p class="price">{{ money.calculatePrice(home_data.productOne|sylius_resolve_variant) }}</p>
>>>>>>> 4dc86fc213c30ca942131a3d280f4d0ae9ab4cb2
                    </div>
                </div>
                <div class="row product-2">
                    <div class="col-md-2"></div>
                    <div class="col-md-6 ml-auto">
<<<<<<< HEAD
                        <img src="{{ asset('custom/images/01_HOME/01_DESKTOP/Aurora-Gold.png') }}">
                    </div>
                    <div class="col-md-2 text-center my-auto">
                        <p class="mb-0">Aurora Gold</p>
                        <p class="price">215 </p>
=======
                        <img src="{{ path_product_two }}">
                    </div>
                    <div class="col-md-2 text-center my-auto">
                        <p class="mb-0">{{ home_data.productTwo.name }}</p>
                        <p class="price">{{ money.calculatePrice(home_data.productTwo|sylius_resolve_variant) }}</p>
>>>>>>> 4dc86fc213c30ca942131a3d280f4d0ae9ab4cb2
                    </div>
                </div>
                <div class="row product-3">
                    <div class="col-md-6">
<<<<<<< HEAD
                        <img src="{{ asset('custom/images/01_HOME/01_DESKTOP/Amokoi-Pompon.png') }}">
                    </div>
                    <div class="col-md-3 text-center my-auto">
                        <p class="mb-0">Amokoi Pompon</p>
                        <p class="price">215 </p>
=======
                        <img src="{{ path_product_three }}">
                    </div>
                    <div class="col-md-3 text-center my-auto">
                        <p class="mb-0">{{ home_data.productThree.name }}</p>
                        <p class="price">{{ money.calculatePrice(home_data.productThree|sylius_resolve_variant) }}</p>
>>>>>>> 4dc86fc213c30ca942131a3d280f4d0ae9ab4cb2
                    </div>
                </div>
                <div class="row product-4">
                    <div class="col-md-6">
<<<<<<< HEAD
                        <img src="{{ asset('custom/images/01_HOME/01_DESKTOP/Amokoi-Pompon-2.png') }}">
                    </div>
                    <div class="col-md-3 text-center my-auto">
                        <p class="mb-0">Amokoi Pompon</p>
                        <p class="price">215 </p>
                    </div>
                </div>
                <div class="d-none d-sm-block d-md-none zapatilla">
                    <img src="{{ asset('custom/images/01_HOME/02_TABLET/Zapatilla-Azul.png') }}">
                    <p class="text-product pt-3">El proceso de trabajo con pólvora del artista chino Cai Guo-Qiang ... sobre la pólvora, que en lugares como Estados Unidos, China Japón</p>
                    <p class="title-product">Aston Jean</p>
                    <p class="price">420 E</p>
                </div>
            </div>
        </div>
        <div class="row decalogo text-center">
            <div class="m-auto">
                <h1 class="px-5">Decálogo del
                    <b>Bohemio 5
                        Estrellas</b></h1>
            </div>
            <div class="m-auto">
                <h2><b>El arte no se explica, se siente</b></h2>
                <p>Con el arte se constituye lo que ve, toca, escucha, saborea y huele, pero también aquello invisible que no puede explicar, solo vivir.</p>
            </div>
        </div>
        <div class="row molino p-4">
            <div>
                <img src="{{ asset('custom/images/01_HOME/01_DESKTOP/Molino.png') }}">
            </div>
            <div class="mt-4">
                <h2>En un lugar de La Mancha de cuyo...</h2>
                <p>¿Quizás eres una de esas personas que no tienen problemas para despertarse por la mañana? ¿incluso podrías despertar con una sonrisa en tu cara? ¿o tal vez eres alguien que simplemente no puede poner tu cuerpo en marcha y no pronunciará una palabra hasta que estés completamente despierto?</p>
                <a href="#">Descúbrelo <i class="fas fa-angle-right"></i> </a>
            </div>
        </div>
        <div class="row zapatilla justify-content-center">
            <p> SOUND OF Culture POQ : Playlist</p>
            <img src="{{ asset('custom/images/Logo-Spotify.svg') }}">
        </div>
        <div class="row arte-polvora p-4">
            <img src="{{ asset('custom/images/01_HOME/03_MOVIL/Mujer.png') }}" class="px-4">
            <div class="m-auto pt-4">
                <h2>
                    <b>Cai Guo-Qiang</b>, el arte de la pólvora
                </h2>
                <p>
                    El proceso de trabajo con pólvora del artista chino Cai Guo-Qiang ... sobre la pólvora, que en lugares como Estados Unidos, China Japón
                </p>
                <a href="#">Descúbrelo <i class="fas fa-angle-right"></i></a>
            </div>
        </div>
        <div class=" fuego">
            <img src="{{ asset('custom/images/01_HOME/03_MOVIL/Hombre-Fuego.png') }}" class="px-0">
            <div class="m-auto pt-4">
                <h2>
                    <b>Cai Guo-Qiang</b>, el arte de la pólvora
                </h2>
                <p>
                    El proceso de trabajo con pólvora del artista chino Cai Guo-Qiang ... sobre la pólvora, que en lugares como Estados Unidos, China Japón
                </p>
                <a href="#">Descúbrelo <i class="fas fa-angle-right"></i></a>
=======
                        <img src="{{ path_product_four }}">
                    </div>
                    <div class="col-md-3 text-center my-auto">
                        <p class="mb-0">{{ home_data.productFour.name }}</p>
                        <p class="price">{{ money.calculatePrice(home_data.productFour|sylius_resolve_variant) }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="decalogo text-center">
            <div class="m-auto">
                <h1 class="px-5">{{ 'app.ui.decalogo'|trans }}
                    <b>{{ 'app.ui.bohemio'|trans }}
                        {{ 'app.ui.stars'|trans }}</b></h1>
            </div>
            <div class="m-auto">
                <h2><b>{{ 'app.ui.the_art'|trans }}</b></h2>
                <p>{{ 'app.ui.the_art_text'|trans }}</p>
            </div>
        </div>
        <div class="article-one p-4">
            <div>
                <img src="{{ path_article_one }}">
            </div>
            <div class="mt-4">
                <h2>{{ home_data.articleOne.title }}</h2>
                <p>{{  home_data.articleOne.description }}</p>
                <a href="{{ path('app_article_by_id', {'article':  home_data.articleOne }) }}">{{'app.ui.discover'|trans }} <i class="fas fa-angle-right"></i> </a>
            </div>
        </div>
        <div class="product-big-one p-4 justify-content-center">
            <p> {{  home_data.listSpotify }}</p>
            <img src="{{ asset('custom/images/Logo-Spotify.svg') }}">
        </div>
        <div class="article-two p-4">
            <img src="{{ path_article_two }}" class="p-2">
            <div class="m-auto p-2">
                <h2>
                    {{  home_data.articleTwo.title }}
                </h2>
                <p>
                    {{  home_data.articleTwo.description }}
                </p>
                <a href="{{ path('app_article_by_id', {'article':  home_data.articleTwo }) }}">{{'app.ui.discover'|trans }} <i class="fas fa-angle-right"></i></a>
            </div>
        </div>
        <div class="article-three p-4">
            <img src="{{ path_article_three }}" class="px-0">
            <div class="m-auto pt-4">
                <h2>
                    {{ home_data.articleThree.title }}
                </h2>
                <p>
                    {{ home_data.articleThree.description }}
                </p>
                <a href="#">{{ 'app.ui.discover'|trans }} <i class="fas fa-angle-right"></i></a>
>>>>>>> 4dc86fc213c30ca942131a3d280f4d0ae9ab4cb2
            </div>
        </div>
    </div>
    {#FIN MOBILE#}

<<<<<<< HEAD


{#<h2 class="ui horizontal section divider header">#}
    {#{{ 'sylius.ui.latest_products'|trans }}#}
{#</h2>#}
=======
>>>>>>> 4dc86fc213c30ca942131a3d280f4d0ae9ab4cb2
{#{{ render(url('sylius_shop_partial_product_index_latest', {'count': 4, 'template': '@SyliusShop/Product/_horizontalList.html.twig'})) }}#}
{% endblock %}
