{% extends '@SyliusShop/layout.html.twig' %}


{% block content %}
    {#DESKTOP#}
    <div class="d-none d-md-block">
        <div class="row">
            <h1 class="mx-md-auto title-home text-center">{{ 'app.ui.magazine'|trans }} <b>{{ 'app.ui.bohemio'|trans }} 5 {{ 'app.ui.stars'|trans }}</b></h1>
            <a href="{{ path('sylius_shop_homepage') }}" class="btn btn-common btn-shipping"><img src="{{ asset('custom/images/Ico-Buscador.svg') }}"> {{ 'app.ui.search'|trans|upper }}</a>
        </div>
        <div class="container">
            <ul class="nav justify-content-center nav-magazine">
                {% for category in categories %}
                    <li class="nav-item">
                        <a href="{{ path('app_category_by_id', {'category' : category.id }) }}" class="nav-link">
                            {% if category.imagesByType('principal') is not empty %}
                                {% set path_category = category.imagesByType('principal').first.path|imagine_filter(filter|default('sylius_large')) %}
                            {% endif %}
                            <img src="{{ path_category }}" class="img-class-category">
                            {{ category.name }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
            <div class="card-columns py-5 cards-magazine">
                {% for article in articles %}
                    <div class="card p-2 {% if loop.index is divisible by(2) -%} bg-grey {%- endif %}">
                        {% if article.imagesByType('principal') is not empty %}
                            {% set path = article.imagesByType('principal').first.path|imagine_filter(filter|default('sylius_large')) %}
                        {% endif %}
                        <div class="card-top justify-content-between">
                            <div class="img-logo float-left">

                                <img src="{{ asset('custom/images/Logo-POQ-Culture.svg') }}">
                            </div>
                            {% if article.nameSocialNetwork == 'instagram' %}
                                {% set path_social = 'custom/images/Ico-Instagram.svg' %}
                            {% elseif article.nameSocialNetwork == 'facebook' %}
                                {% set path_social = 'custom/images/Ico-Facebook.svg' %}
                            {% elseif article.nameSocialNetwork == 'youtube' %}
                                {% set path_social = 'custom/images/Ico-Youtube.svg' %}
                            {% elseif article.nameSocialNetwork == 'twitter' %}
                                {% set path_social = 'custom/images/Ico-Twitter.svg' %}
                            {% endif %}
                            <a href="{{ article.linkSocialNetwork }}" target="_blank"><img src="{{ asset(path_social)}}" class="img-social float-right"></a>
                        </div>
                        <a href="{{ path('app_article_by_id', {'article': article } ) }}">
                            <img class="card-img-top" src="{{ path }}" alt="{{ article.title }}">
                            <div class="card-body">
                                <h3 class="card-title">{{ article.title }}</h3>
                                <p class="card-text">{{ article.description }}</p>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {#END DESKTOP#}

    {#TABLET#}

    {#END TABLET#}

    {#MOBILE#}

    {#END MOBILE#}
{% endblock %}