{% extends '@SyliusShop/layout.html.twig' %}

{% block content %}
    {#DESKTOP#}
    <div class="row">
        <a href="{{ path('sylius_shop_homepage') }}" class="btn btn-common btn-back d-none d-sm-block"><i class="fas fa-angle-left"></i> {{ 'sylius.ui.home'|trans }}</a>
        <h1 class="mx-auto py-4">¿{{ 'app.ui.what_is'|trans }} POQ Culture?</h1>
    </div>
    <div class="row">
        <p class="mx-auto col-lg-6 col-md-8 col-sm-10 col-12 text-center">
            {{ 'app.ui.many_people'|trans }} <b>POQ Culture</b> {{ 'app.ui.many_people_two'|trans }} <b>{{ 'app.ui.decalogo'|trans }} {{ 'app.ui.bohemio'|trans }} 5 {{ 'app.ui.stars'|trans }}</b>.
        </p>
    </div>
    <div class="d-none d-lg-block">

        <div class="row">
            <div class="col-md-6 text-right">
                <img src="{{ asset('custom/images/08_POQ_CULTURE/01_DESKTOP/Culture-1.png') }}">
                <div class="col-5 text-culture-right">
                    <h3>{{ 'app.ui.culture_one'|trans }}.</h3>
                    <p>{{ 'app.ui.culture_one_text'|trans }}.</p>
                </div>
            </div>
            <div class="col-md-6 text-left">
                <img src="{{ asset('custom/images/08_POQ_CULTURE/01_DESKTOP/Culture-2.png') }}">
                <div class="col-6 text-culture-left">
                    <h3 class="mr-auto p-0 col-8">{{ 'app.ui.culture_two'|trans }}.</h3>
                    <p>{{ 'app.ui.culture_two_text'|trans }}.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 text-right">
                <img src="{{ asset('custom/images/08_POQ_CULTURE/01_DESKTOP/Culture-3.png') }}">
                <div class="col-5 text-culture-right">
                    <h3>{{ 'app.ui.culture_three'|trans }}.</h3>
                    <p>{{ 'app.ui.culture_three_text'|trans }}.</p>
                </div>
            </div>
            <div class="col-md-6 text-left">
                <img src="{{ asset('custom/images/08_POQ_CULTURE/01_DESKTOP/Culture-4.png') }}">
                <div class="col-5 text-culture-left">
                    <h3 class="col-10 mr-auto p-0">{{ 'app.ui.culture_four'|trans }}.</h3>
                    <p>{{ 'app.ui.culture_four_text'|trans }}.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 text-right">
                <img src="{{ asset('custom/images/08_POQ_CULTURE/01_DESKTOP/Culture-5.png') }}">
                <div class="col-5 text-culture-right">
                    <h3>{{ 'app.ui.culture_five'|trans }}.</h3>
                    <p>{{ 'app.ui.culture_five_text'|trans }}.</p>
                </div>
            </div>
            <div class="col-md-6 text-left">
                <img src="{{ asset('custom/images/08_POQ_CULTURE/01_DESKTOP/Culture-6.png') }}">
                <div class="col-4 text-culture-left">
                    <h3>{{ 'app.ui.culture_six'|trans }}.</h3>
                    <p>{{ 'app.ui.culture_six_text'|trans }}.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 text-right">
                <img src="{{ asset('custom/images/08_POQ_CULTURE/01_DESKTOP/Culture-7.png') }}">
                <div class="col-5 text-culture-right">
                    <h3>{{ 'app.ui.culture_seven'|trans }}.</h3>
                    <p>{{ 'app.ui.culture_seven_text'|trans }}.</p>
                </div>
            </div>
            <div class="col-md-6 text-left">
                <img src="{{ asset('custom/images/08_POQ_CULTURE/01_DESKTOP/Culture-8.png') }}">
                <div class="col-4 text-culture-left">
                    <h3>{{ 'app.ui.culture_eight'|trans }}</h3>
                    <p>{{ 'app.ui.culture_eight_text'|trans }}.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 text-right">
                <img src="{{ asset('custom/images/08_POQ_CULTURE/01_DESKTOP/Culture-9.png') }}">
                <div class="col-4 text-culture-right">
                    <h3>{{ 'app.ui.culture_nine'|trans }}.</h3>
                    <p>{{ 'app.ui.culture_nine_text'|trans }}.</p>
                </div>
            </div>
            <div class="col-md-6 text-left">
                <img src="{{ asset('custom/images/08_POQ_CULTURE/01_DESKTOP/Culture-10.png') }}">
                <div class="col-5 text-culture-left">
                    <h3 class="col-8 mr-auto p-0">{{ 'app.ui.culture_ten'|trans }}.</h3>
                    <p>{{ 'app.ui.culture_ten_text'|trans }}.</p>
                </div>
            </div>
        </div>
    </div>
    {#ENDDESKTOP#}

    {#TABLE#}
    <div id="carousel-culture" class="carousel slide d-none d-sm-block d-lg-none" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carousel-culture" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-culture" data-slide-to="1"></li>
            <li data-target="#carousel-culture" data-slide-to="2"></li>
            <li data-target="#carousel-culture" data-slide-to="3"></li>
            <li data-target="#carousel-culture" data-slide-to="4"></li>
            <li data-target="#carousel-culture" data-slide-to="5"></li>
            <li data-target="#carousel-culture" data-slide-to="6"></li>
            <li data-target="#carousel-culture" data-slide-to="7"></li>
            <li data-target="#carousel-culture" data-slide-to="8"></li>
            <li data-target="#carousel-culture" data-slide-to="9"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{{ asset('custom/images/08_POQ_CULTURE/02_SLIDE/Culture-1.png') }}">
                <div class="col-5 text-culture-right text-right">
                    <h3>El arte no se explica, se siente.</h3>
                    <p>Con el arte se construye lo que ve, toca, escucha, saborea y huele, pero también aquello invisible que no puede explicar, solo vivir.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{{ asset('custom/images/08_POQ_CULTURE/01_DESKTOP/Culture-2.png') }}">
                <div class="col-6 text-culture-left">
                    <h3 class="mr-auto p-0 col-8">Descubre un lugar, se descubre a sí mismo.</h3>
                    <p>Donde va descubre y admira una parte del mundo que antes no percibía, pero sobre todo, una parte de que acaba de despertar para seguir caminando con las ganas de conocer y conocerse.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{{ asset('custom/images/08_POQ_CULTURE/01_DESKTOP/Culture-3.png') }}">
                <div class="col-5 text-culture-right text-right">
                    <h3>Observa por dentro, ve por fuera.</h3>
                    <p>Cuidar su interior es la forma de entender cómo puede actuar en el mundo que le rodea, yendo siempre un paso más allá de lo que simplemente perciben sus sentidos y sabiendo que será a través de cada uno de sus actos la manera en la que construirá el entorno que pisa.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{{ asset('custom/images/08_POQ_CULTURE/01_DESKTOP/Culture-4.png') }}">
                <div class="col-5 text-culture-left">
                    <h3 class="col-10 mr-auto p-0">Todo puede ser disfrutado.</h3>
                    <p>En cada cosa que le ocurre, busca la parte que le hace sentir bien.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{{ asset('custom/images/08_POQ_CULTURE/01_DESKTOP/Culture-5.png') }}">
                <div class="col-5 text-culture-right text-right">
                    <h3>En cualquier momento nace una experiencia.</h3>
                    <p>Sabe que puede vivir una experiencia inolvidable de absolutamente cualquier instante.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{{ asset('custom/images/08_POQ_CULTURE/01_DESKTOP/Culture-6.png') }}">
                <div class="col-4 text-culture-left">
                    <h3>Las pequeñas cosas siempre son las más grandes.</h3>
                    <p>Los detalles son los que le hacen sentir las mayores emociones.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{{ asset('custom/images/08_POQ_CULTURE/01_DESKTOP/Culture-7.png') }}">
                <div class="col-5 text-culture-right text-right">
                    <h3>Preocuparse para ocuparse.</h3>
                    <p>Dedica su tiempo a lo que cree que sirve para hacer las cosas siempre un poco mejor que ayer.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{{ asset('custom/images/08_POQ_CULTURE/01_DESKTOP/Culture-8.png') }}">
                <div class="col-4 text-culture-left">
                    <h3>Nunca se deja de aprender</h3>
                    <p>En cualquier lugar, a cualquier hora, de cualquier historia.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{{ asset('custom/images/08_POQ_CULTURE/01_DESKTOP/Culture-9.png') }}">
                <div class="col-4 text-culture-right text-right">
                    <h3>Es importante ponerse en los zapatos del otro</h3>
                    <p>La empatía y compartir es uno de sus valores para poder seguir creciendo de manera individual y colectiva.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{{ asset('custom/images/08_POQ_CULTURE/01_DESKTOP/Culture-10.png') }}">
                <div class="col-5 text-culture-left">
                    <h3 class="col-8 mr-auto p-0">Lo que cuenta es lo que se cuenta</h3>
                    <p>Valora el poder de la comunicación y de escuchar al mundo para así poder contar el suyo propio, el de todos... y el que está por llegar.</p>
                </div>
            </div>
        </div>
    </div>
    {#ENDTABLE#}

    {#MOBILE#}
    <div id="carousel-culture" class="carousel slide d-block d-sm-none" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carousel-culture" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-culture" data-slide-to="1"></li>
            <li data-target="#carousel-culture" data-slide-to="2"></li>
            <li data-target="#carousel-culture" data-slide-to="3"></li>
            <li data-target="#carousel-culture" data-slide-to="4"></li>
            <li data-target="#carousel-culture" data-slide-to="5"></li>
            <li data-target="#carousel-culture" data-slide-to="6"></li>
            <li data-target="#carousel-culture" data-slide-to="7"></li>
            <li data-target="#carousel-culture" data-slide-to="8"></li>
            <li data-target="#carousel-culture" data-slide-to="9"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{{ asset('custom/images/08_POQ_CULTURE/02_SLIDE/Culture-1.png') }}">
                <div class="carousel-caption">
                    <h3>El arte no se explica, se siente.</h3>
                    <p>Con el arte se construye lo que ve, toca, escucha, saborea y huele, pero también aquello invisible que no puede explicar, solo vivir.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{{ asset('custom/images/08_POQ_CULTURE/02_SLIDE/Culture-2.png') }}">
                <div class="carousel-caption d-block">
                    <h3>Descubre un lugar, se descubre a sí mismo.</h3>
                    <p>Donde va descubre y admira una parte del mundo que antes no percibía, pero sobre todo, una parte de que acaba de despertar para seguir caminando con las ganas de conocer y conocerse.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{{ asset('custom/images/08_POQ_CULTURE/01_DESKTOP/Culture-3.png') }}">
                <div class="carousel-caption d-block">
                    <h3>Observa por dentro, ve por fuera.</h3>
                    <p>Cuidar su interior es la forma de entender cómo puede actuar en el mundo que le rodea, yendo siempre un paso más allá de lo que simplemente perciben sus sentidos y sabiendo que será a través de cada uno de sus actos la manera en la que construirá el entorno que pisa.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{{ asset('custom/images/08_POQ_CULTURE/01_DESKTOP/Culture-4.png') }}">
                <div class="carousel-caption d-block">
                    <h3>Todo puede ser disfrutado.</h3>
                    <p>En cada cosa que le ocurre, busca la parte que le hace sentir bien.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{{ asset('custom/images/08_POQ_CULTURE/01_DESKTOP/Culture-5.png') }}">
                <div class="carousel-caption d-block">
                    <h3>En cualquier momento nace una experiencia.</h3>
                    <p>Sabe que puede vivir una experiencia inolvidable de absolutamente cualquier instante.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{{ asset('custom/images/08_POQ_CULTURE/01_DESKTOP/Culture-6.png') }}">
                <div class="carousel-caption d-block">
                    <h3>Las pequeñas cosas siempre son las más grandes.</h3>
                    <p>Los detalles son los que le hacen sentir las mayores emociones.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{{ asset('custom/images/08_POQ_CULTURE/01_DESKTOP/Culture-7.png') }}">
                <div class="carousel-caption d-block">
                    <h3>Preocuparse para ocuparse.</h3>
                    <p>Dedica su tiempo a lo que cree que sirve para hacer las cosas siempre un poco mejor que ayer.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{{ asset('custom/images/08_POQ_CULTURE/01_DESKTOP/Culture-8.png') }}">
                <div class="carousel-caption d-block">
                    <h3>Nunca se deja de aprender</h3>
                    <p>En cualquier lugar, a cualquier hora, de cualquier historia.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{{ asset('custom/images/08_POQ_CULTURE/01_DESKTOP/Culture-9.png') }}">
                <div class="carousel-caption d-block">
                    <h3>Es importante ponerse en los zapatos del otro</h3>
                    <p>La empatía y compartir es uno de sus valores para poder seguir creciendo de manera individual y colectiva.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{{ asset('custom/images/08_POQ_CULTURE/01_DESKTOP/Culture-10.png') }}">
                <div class="carousel-caption d-block">
                    <h3>Lo que cuenta es lo que se cuenta</h3>
                    <p>Valora el poder de la comunicación y de escuchar al mundo para así poder contar el suyo propio, el de todos... y el que está por llegar.</p>
                </div>
            </div>
        </div>
    </div>
    {#ENDMOBILE#}
{% endblock %}