{% import "@SyliusShop/Common/Macro/money.html.twig" as money %}
{% extends '@SyliusShop/layout.html.twig' %}

{% block content %}
    {#DESKTOP#}
    <div class="d-none d-md-block">
        <img src="{{ asset('custom/images/02_CATEGORIA/01_DESKTOP/Triangulo-Categoria-1.png') }}" class="categoires-img-1">
        <img src="{{ asset('custom/images/02_CATEGORIA/01_DESKTOP/Triangulo-Categoria-2.png') }}" class="categoires-img-2">
        <img src="{{ asset('custom/images/02_CATEGORIA/01_DESKTOP/Triangulo-Categoria-3.png') }}" class="categoires-img-3">
        <img src="{{ asset('custom/images/02_CATEGORIA/01_DESKTOP/Triangulo-Categoria-4.png') }}" class="categoires-img-4">
        <div class="row">
            <h1 class="mx-md-auto title-home text-center">La Tienda Online de Zapatos para los <b>Bohemios 5 Estrellas</b></h1>
            <a href="{{ path('sylius_shop_homepage') }}" class="btn btn-common btn-shipping"><img src="{{ asset('custom/images/Ico-Envio.svg') }}"> ENVÍO GRATUITO</a>
        </div>
        <div class="container">
            <ul class="nav justify-content-center nav-categories">
                {% set n = 0 %}
                {% for category in categories %}
                    <li class="nav-item">
                        <a href="{{ path('app_shop_products_category', {'taxon': category.id }) }}" class="nav-link {% if category.name == 0 -%}active{%- endif %}">{{ category.name }}</a>
                    </li>
                    {% set n = n + 1 %}
                {% endfor %}
            </ul>
            <div class="row py-5">
            {% for row in products|batch(5) %}
                {% for product in row %}
                    {% if loop.index == 1 or loop.index == 2 %}
                        <div class="col-md-6 text-center">
                            <div class="row">
                                <div class="col-6 m-auto">
                                    <h3 class="title-product">{{ product.name }}</h3>
                                    {% if not product.variants.empty() %}
                                        <div class="price">{{ money.calculatePrice(product|sylius_resolve_variant) }}</div>
                                    {% endif %}
                                </div>
                                <div class="col-6">
                                    {% if product.imagesByType('home') is not empty %}
                                        {% set path_product = product.imagesByType('home').first.path|imagine_filter(filter|default('sylius_shop_product_original')) %}
                                    {% endif %}
                                    <img src="{{ path_product }}">
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="col-md-4 text-center">
                            <div class="row">
                                <div class="col-6 m-auto">
                                    <h3 class="title-product">{{ product.name }}</h3>
                                    {% if not product.variants.empty() %}
                                        <div class="price">{{ money.calculatePrice(product|sylius_resolve_variant) }}</div>
                                    {% endif %}
                                </div>
                                <div class="col-6">
                                    {% if product.imagesByType('home') is not empty %}
                                        {% set path_product = product.imagesByType('home').first.path|imagine_filter(filter|default('sylius_shop_product_original')) %}
                                    {% endif %}
                                    <img src="{{ path_product }}">
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            </div>
        </div>
    </div>
    {#END DESKTOP#}

    {#TABLET#}
    <div class="d-none d-sm-block d-md-none">
        <div class="row">
            <div class="col-9">
                <h1 class="mx-auto title-home text-center">{{ 'app.ui.titulo_home'|trans }} <b>{{ 'app.ui.titulo_home_bold'|trans }}</b></h1>
                <ul class="nav justify-content-center nav-categories w-100">
                    {% set n = 0 %}
                    {% for category in categories %}
                        <li class="nav-item">
                            <a href="{{ path('app_shop_products_category', {'taxon': category }) }}" class="nav-link {% if category.name == 0 -%}active{%- endif %}">{{ category.name }}</a>
                        </li>
                        {% set n = n + 1 %}
                    {% endfor %}
                </ul>
            </div>
            <div class="col-3">
                <a href="{{ path('sylius_shop_homepage') }}" class="btn btn-common btn-shipping"><img src="{{ asset('custom/images/Ico-Envio.svg') }}"> {{ 'app.ui.shipping_free'|trans }}</a>
            </div>
        </div>
        <div class="row py-5">
            {% for product in products %}
                <div class="col-6 text-center">
                    <div class="row">
                        <div class="col-6 m-auto">
                            <h3 class="title-product">{{ product.name }}</h3>
                            {% if not product.variants.empty() %}
                                <div class="price">{{ money.calculatePrice(product|sylius_resolve_variant) }}</div>
                            {% endif %}
                        </div>
                        <div class="col-6">
                            {% if product.imagesByType('home') is not empty %}
                                {% set path_product = product.imagesByType('home').first.path|imagine_filter(filter|default('sylius_shop_product_original')) %}
                            {% endif %}
                            <img src="{{ path_product }}">
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    {#END TABLET#}

    {#MOBILE#}
    <div class="d-block d-sm-none d-md-none">
        <div class="row">
            <h1 class="mx-auto title-home text-center">{{ 'app.ui.titulo_home'|trans }} <b>{{ 'app.ui.titulo_home_bold'|trans }}</b></h1>
        </div>
        <div class="row">
            <ul class="nav flex-column text-center nav-categories w-100">
                {% set n = 0 %}
                {% for category in categories %}
                    <li class="nav-item">
                        <a href="{{ path('app_shop_products_category', {'taxon': category }) }}" class="nav-link {% if category.name == 0 -%}active{%- endif %}">{{ category.name }}</a>
                    </li>
                    {% set n = n + 1 %}
                {% endfor %}
            </ul>
        </div>
        <div class="row py-5 justify-content-center">
            {% for product in products %}
                <div class="col-6 m-auto">
                    {% if product.imagesByType('home') is not empty %}
                        {% set path_product = product.imagesByType('home').first.path|imagine_filter(filter|default('sylius_shop_product_original')) %}
                    {% endif %}
                    <img src="{{ path_product }}">
                </div>
                <div class="col-6 m-auto text-center">
                    <h3 class="title-product">{{ product.name }}</h3>
                    {% if not product.variants.empty() %}
                        <div class="price">{{ money.calculatePrice(product|sylius_resolve_variant) }}</div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
    {#END MOBILE#}
{% endblock %}