.btn{
  border: 1px solid $grey-2;
  border-radius: 0;
}

.btn:hover{
  color: $grey-5;
  border-color: $grey-3;
}

.btn-back{
  position: absolute;
  border-left: 0;
  left: 0;
<<<<<<< HEAD
  padding: 24px 8px 24px 50px;
=======
  padding: 20px 8px 20px 60px;
>>>>>>> 4dc86fc213c30ca942131a3d280f4d0ae9ab4cb2
  color: $grey-4;
  font-size: 18px;
  font-weight: $light;
}

.btn-shipping{
  position: absolute;
  border-right: 0;
  right: 0;
  padding: 24px 5px 24px 5px;
  color: $grey-4;
  font-size: 18px;
  font-weight: $light;
  img{
    width: 15%;
  }
<<<<<<< HEAD
=======
}

.price{
  color: $light-blue;
  font-size: 18px;
  font-weight: $light;
>>>>>>> 4dc86fc213c30ca942131a3d280f4d0ae9ab4cb2
}