
.card-home{
  margin-left: 68%;
  margin-top: -70px;
  font-weight: $light;
  padding: 40px 40px 10px 40px;
  h1{
    font-weight: $light;
  }
}

.decalogo{
  //position: absolute;
  color: $grey-4;
  h1{
    font-size: 36px;
    font-weight: $light;
    margin-bottom: 0;
    b{
      font-size: 36px;
    }
  }
  p{
    margin-bottom: 0;
  }

}
<<<<<<< HEAD
.molino{
  font-weight: $light;
  color: $grey-4;
  h2{
    font-size: 16px;
  }
  p{
    font-size: 14px;
  }
=======
.article-one, .article-two, .article-three{
>>>>>>> 4dc86fc213c30ca942131a3d280f4d0ae9ab4cb2
  a{
    text-decoration: none;
    color: $grey-4;
    font-size: 12px;
    font-weight: $regular;
  }
<<<<<<< HEAD
=======
  p{
    font-weight: $light;
    font-size: 14px;
  }
}
.article-one{
  font-weight: $light;
  color: $grey-4;
  h2{
    font-size: 16px;
  }
  //p{
  //  font-size: 14px;
  //}
>>>>>>> 4dc86fc213c30ca942131a3d280f4d0ae9ab4cb2
  .triangulo-grande{
    position: absolute;
    right: 25%;
    top: -10%;
    //bottom: 42%;
    width: 40%;
  }
  .triangulo-peque{
    position: absolute;
    right: 25%;
    top: 25%;
    //bottom: 40%;
    width: 5%;
  }

}
<<<<<<< HEAD
.fuego{
  margin-top: 100px;
  color: $grey-4;
  img{
    width: 70%;
=======
.article-three{
  //margin-top: 100px;
  color: $grey-4;
  img{
    //width: 70%;
>>>>>>> 4dc86fc213c30ca942131a3d280f4d0ae9ab4cb2
    float: right;
  }
  .text-product{
    font-size: 14px;
  }
  .title-product{
    font-size: 16px;
    font-weight: $regular;
    margin-bottom: 0;
  }
  .price{
    color: $light-blue;
    font-weight: $regular;
    margin-bottom: 0;
  }
  .hombre-fuego{
    width: 100%;
  }
<<<<<<< HEAD
  p{
    font-weight: $light;
    font-size: 14px;
  }
  a{
    color: $grey-4;
    text-decoration: none;
    font-size: 12px;
  }
}
.arte-polvora{
  margin-top: -40px;
  color: $grey-4;
  img{
    width: 60%;
    float: right;
  }
  p{
    font-weight: $light;
    font-size: 14px;
  }
  a{
    color: $grey-4;
    text-decoration: none;
    font-size: 12px;
  }
=======
}
.article-two{
  //margin-top: -40px;
  color: $grey-4;
  img{
    //width: 60%;
    float: right;
  }

>>>>>>> 4dc86fc213c30ca942131a3d280f4d0ae9ab4cb2
  .triangulo-grande{
    position: absolute;
    top: 50%;
    left: 22%;
    width: 40%;
  }
  .triangulo-peque{
    position: absolute;
    top: 57%;
    left: 20%;
    width: 10%;
  }
}
<<<<<<< HEAD
.zapatilla{
=======
.product-big-one{
>>>>>>> 4dc86fc213c30ca942131a3d280f4d0ae9ab4cb2
  font-weight: $light;
  .playlist-grande{
    position: absolute;
    left: 45%;
    bottom: 15%;
    width: 30px;
  }
  .playlist-peque{
    position: absolute;
    left: 60%;
    bottom: 10%;
    width: 15px;
  }
  p{
    font-size: 14px;
  }
  .text-product{
    font-size: 14px;
  }
  .title-product{
    font-size: 16px;
    font-weight: $regular;
    margin-bottom: 0;
  }
  .price{
    color: $light-blue;
    font-weight: $regular;
    margin-bottom: 0;
  }
}
.line1 {
  position: absolute;
  left: 57%;
  width: 73%;
  top: 50%;
  border-bottom: 1px solid $grey-5;
  transform:
          //translateY(-5px)
          //translateX(5px)
          rotate(51deg);

  /* top: -20px; */
<<<<<<< HEAD
}
=======
}

.categoires-img-1{
  position: absolute;
  width: 10%;
  top: 20%;
  left: 0;
}
.categoires-img-2{
  position: absolute;
  width: 10%;
  top: 40%;
  right: 0;
}
.categoires-img-3{
  position: absolute;
  width: 10%;
  top: 60%;
  left: 0;
}
.categoires-img-4{
  position: absolute;
  width: 10%;
  top: 80%;
  right: 0;
}

.cards-magazine{
  .img-social{
    margin: 5px;
    width: 10%;
  }
  .img-logo{
    width: 10%;
    margin: 5px;
    border-radius: 50%;
    border: 1px solid $grey-4;
    padding: 3px;
  }
  .bg-grey{
    background: $grey-1;
  }
  a{
    color: $grey-4;
    font-weight: $light;
    text-decoration: none;
  }

  a:hover, a:focus{
    color: $grey-3;
    font-weight: $light;
    text-decoration: none;
  }
}

>>>>>>> 4dc86fc213c30ca942131a3d280f4d0ae9ab4cb2
