.prueba{
  .columna-1{
    //position: absolute;
    height: 100px;
    left: 39.46%;
    right: 21.02%;
    top: 99.35%;
    bottom: -3.63%;
    border-top: 100px;
    border-right: 100px solid transparent;

    background: #DADADA;
  }
  .columna-2{

  }
  .columna-3{

  }
  .columna-4{

  }
}
.rombo{
  width: 0;
  border-right: 100px solid transparent;
  border-bottom: 100px solid #08B;
}
<<<<<<< HEAD
#footer{
=======
.row-footer{
  background: $grey-3;
  p, a{
    color: $grey-1;
  }
  a:hover, a:focus{
    color: $grey-1;

  }
}
.footer{
>>>>>>> 4dc86fc213c30ca942131a3d280f4d0ae9ab4cb2
  //.column-footer-1 {
  //  max-width: 39%;
  //}
  //.column-footer-2{
  //  max-width: 20%;
  //}
  //.column-footer-3{
  //  max-width: 20%;
  //}
  //.column-footer-4{
  //  max-width: 20%;
  //}
  //background: linear-gradient(
  //    60deg,
  //    $grey-3 0%,
  //    $grey-3 40%,
  //    $white 40%,
  //    $white 50%,
  //    $red 50%,
  //    $red 65%,
  //    $grey-4 65%,
  //    $grey-4 100%
  //);
  //background: -moz-linear-gradient(
  //    60deg,
  //    $grey-3 0%,
  //    $grey-3 35%,
  //    $white 35% ,
  //    $white 50%,
  //    $red 50%,
  //    $red 65%,
  //    $grey-4 65%,
  //    $grey-4 100%
  //);
  background: linear-gradient(
      55deg,
      $grey-3 0%,
<<<<<<< HEAD
      $grey-3 49%,
      $white 49% ,
      $white 59.5%,
      $red 59.5%,
      $red 68%,
      $grey-4 68%,
      $grey-4 100%
  );

  min-height: 160px;
=======
      $grey-3 43.5%,
      $white 43.5% ,
      $white 54.5%,
      $red 54.5%,
      $red 66%,
      $grey-4 66%,
      $grey-4 100%
  );

>>>>>>> 4dc86fc213c30ca942131a3d280f4d0ae9ab4cb2
  color: $white;
  font-size: 12px;
  font-family: $regular;
  a{
    color: $white;
<<<<<<< HEAD
  }
  img{
    width: 60%;
  }
  .icon-footer{
    max-width: 18%;
=======
    text-decoration: none;
  }

  a:hover, a:focus{
    text-decoration: none;
    color: $grey-1;
  }
  img{
    max-width: 120px;
  }
  .icon-footer{
    max-width: 33px;
>>>>>>> 4dc86fc213c30ca942131a3d280f4d0ae9ab4cb2
    margin: 2px;
    height: 18%;
  }
  .icon-spotify{
    height: 40%;
    //width: 40%;
  }
}