img{
  width: 100%;
  height: auto;
}

.img-home-1{
  position: absolute;
  left: 0;
  width: 25%;
}
<<<<<<< HEAD
=======


.text-culture-right, .text-culture-left{
  color: $grey-4;
  h3{
    font-size: 14px;
    font-weight: $regular;
  }
  p{
    font-size: 12px;
    font-weight: $light;
  }
}
.text-culture-right{
  float: right;
  position: absolute;
  top: 2%;
  right: 2%;
}
.text-culture-left{
  float: left;
  position: absolute;
  bottom: 2%;
  left: 2%;
}
#carousel-culture {
  h3{
    font-size: 14px;
    font-weight: $regular;
    color: $grey-4;
  }
  p{
    font-size: 12px;
    font-weight: $light;
  }
  .carousel-inner{
    padding-bottom: 20px;
  }
  padding-bottom: 40px;
  .carousel-indicators {
    margin-top: 20px;
    //position: absolute;
    //bottom: 0;
    li{
      width: 10px;
      height: 10px;
      border: 1px $grey-4 solid;
      border-radius: 50%;
      background: $grey-2;
    }
    li .active{
      background: $grey-4;
    }
    //background: $white;
  }
}

.list-spotify{
  width: 100%;
  height: 70%;
}
>>>>>>> 4dc86fc213c30ca942131a3d280f4d0ae9ab4cb2
