.body-front{
  padding-top: 4%;
}
.navbar-toggler {
  top: 5px;
  position: absolute;
  cursor: pointer;
  left: 5px;
  border: 0;
}

.navbar-light .navbar-toggler {
  padding: 10px;
  border-color: $white;
}

#menu{
  border-image: url("../images/Trenza-POQ.svg") 330 ;
  //border-width: 1280px;
  border-bottom: 50px solid transparent;
  font-weight: $regular;
  padding: 20px 10px;
  font-size: 18px;
  color: $grey-4;
  .cart-shopping:not(.show) {
    display: block;
  }
}
.navbar-brand{
  position: absolute;
  width: 109px;
  left:0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  top: 30%;
}
.cart-shopping{
  position: absolute;
  top: 29%;
  right: 1.95%;
  left: 96.5%;
}

#menu-mobile {
  position: absolute;
  top: 0;
  left: 0;
  background: $grey-4;
  height: 100%;
  width: 100%;
  color: $white;
  a{
    color: $white;
  }
  .navbar-brand{
    left:0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    width: 109px;
  }
  hr.line-v{
    width: 1px;
    background-color: $white;
  }
  hr.line-v-2{
    width: 1px;
    background-color: $white;
  }
  .links-mobile{
    .nav-item.sobre-poq{
      font-weight: $regular;
      font-style: normal;
      padding-bottom: 10px;
    }
    .nav-item {
      padding-bottom: 5px;
      font-style: italic;
      font-weight: $light;
      font-size: 14px;
      .nav-link {
        padding: 0;
      }
    }
  }
}

.nav-vertical{
  margin-top: -100px;
  padding-left: 20px;
  img{
    padding: 20px 10px;
    width: 85px;
  }
  a{
    text-decoration: none;
    color: $grey-5;
    font-weight: $light;
  }
}
.nav-products{
  .text-center{
    padding: 0;
  }
  .price{
    color: $light-blue;
    margin-bottom: 0;
  }
  a {
    text-decoration: none;
    color: $grey-4;
    font-size: 18px;
    font-weight: $light
  }
  .product-1{
    padding: auto;
    margin-top: 5%;
<<<<<<< HEAD
    margin-bottom: 10%;
    margin-left: 5%;
=======
    //margin-bottom: 10%;
    //margin-left: 5%;
>>>>>>> 4dc86fc213c30ca942131a3d280f4d0ae9ab4cb2

  }
  .product-2{
    margin-top: 5%;
<<<<<<< HEAD
    margin-bottom: 10%;
=======
    //margin-bottom: 10%;
>>>>>>> 4dc86fc213c30ca942131a3d280f4d0ae9ab4cb2

  }
  .product-3{
    margin-top: 5%;
<<<<<<< HEAD
    margin-bottom: 10%;
=======
    //margin-bottom: 15%;
>>>>>>> 4dc86fc213c30ca942131a3d280f4d0ae9ab4cb2

  }
  .product-4{

<<<<<<< HEAD
    margin-top: -30%;
=======
    margin-top: -15%;
>>>>>>> 4dc86fc213c30ca942131a3d280f4d0ae9ab4cb2
    margin-left: -50%;
    float: left;
  }
  img{
    max-width: 320px;
    //padding: 20px;
  }
  //.product-select-1{
  //  img{
  //    margin-top: 50px;
  //    margin-left: 50px;
  //  }
  //  .text-center{
  //    //position: absolute;
  //    //right: 25%;
  //    //top: 15%;
  //    margin-top: -165px;
  //    margin-left: 100px;
  //  }
  //}
  //.product-select-2{
  //  img{
  //    margin-top: 110px;
  //    margin-left: 245px;
  //  }
  //  .text-center{
  //    position: absolute;
  //    right: 5%;
  //    top: 50%;
  //  }
  //}
  //.product-select-3{
  //  img{
  //    margin-top: 80px;
  //    margin-left: 45px;
  //  }
  //  .text-center{
  //    position: absolute;
  //    right: 25%;
  //    top: 77%;
  //  }
  //}
  //.product-select-4{
  //  img{
  //    width: 45%;
  //    margin-top: -125px;
  //    margin-left: -430px;
  //  }
  //  .text-center{
  //    position: absolute;
  //    right: 80%;
  //    top: 120%;
  //  }
  //}
<<<<<<< HEAD
}
=======
}
.nav-categories{
  .nav-item{
    border: 1px solid $grey-4;
    margin: 5px;
    padding: 0 30px;
    .nav-link{
      color: $grey-4;
      text-decoration: none;
      text-transform: uppercase;
    }
    .nav-link:hover, .nav-link:focus {
      color: $grey-5;
      border: $grey-5;

    }
  }

}

.nav-magazine{
  .nav-item{
    .nav-link{
      color: $grey-4;
      text-decoration: none;
      .img-class-category{
        width: 40px;
      }
    }
  }
}
>>>>>>> 4dc86fc213c30ca942131a3d280f4d0ae9ab4cb2
