@media (max-width: 575.98px) {
  .body-front{
    //padding-top: 9.8% !important;
    .img-home-2{
      margin: 0;
    }
    .card-home{
      margin-top: -30%;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      font-size: 14px;
      padding: 30px 30px 10px 30px;
    }
    h1{
      font-size: 24px;
      b{
        font-size: 24px;
      }
    }
    b{
      font-size: 12px;
    }
    .nav-products{
      margin-top: 10px;
      .product-1, .product-2, .product-3, .product-4{
        width: 80%;
        left: 0;
        right: 0;
        margin: 0 auto 0 auto;
      }
      .product-4{
        margin-top: 0;
        float: inherit;
      }
    }
  }
  #menu{
    padding: 30px 10px !important;
    border-bottom: 40px solid transparent ;
    border-image: url("../images/Trenza-POQ.svg") 1060 !important;
    a{
      font-size: 16px;
    }
    .cart-shopping{
      top: 30%;
      left: 93%;
    }
    .navbar-brand{
      //left: 40.5%;
      //right: 40.5%;
      left:0;
      right: 0;
      margin-right: auto;
      margin-left: auto;
      top: 14%;
      width: 102px;
    }
    .navbar-toggler{
      top: 30%;
      left: 1.95%;
      right: 93%;
      padding: 0;
    }
  }
  #menu-mobile{
    .navbar{
      padding: 1.5rem 1rem;
    }
    .navbar-brand{
      left: 41%;
      right: 41%;
      top: 20%;
    }
    .navbar-toggler{
      top: 20%;
      left: 1.95%;
      right: 93%;
      padding: 0;
      border: 0;
    }
    .dropdown{
<<<<<<< HEAD
=======
      text-align: right;
>>>>>>> 4dc86fc213c30ca942131a3d280f4d0ae9ab4cb2
      position: absolute;
      top: 20%;
      right: 1.95%;
      .nav-link{
        text-decoration: none;
        color: $white !important;
        font-weight: $light;
      }
<<<<<<< HEAD
=======
      .dropdown-menu{
        background: $grey-3;
      }
>>>>>>> 4dc86fc213c30ca942131a3d280f4d0ae9ab4cb2
    }
    hr.line-v{
      margin-top: 14%;
      height: 10% !important;
    }
    hr.line-v-2{
      height: 10% !important;
      top: 50%;
    }
  }
  .decalogo{
    h1{
      padding-top: 20px;
      font-size: 24px !important;
      b{
        font-size: 24px !important;
      }
    }
    h2, b{
      font-size: 16px;
      padding-top: 25px;
    }
    margin: 10px auto;
  }
<<<<<<< HEAD
  .arte-polvora{
=======
  .article-two{
>>>>>>> 4dc86fc213c30ca942131a3d280f4d0ae9ab4cb2
    img{
      width: 100% !important;
    }
    b{
      font-size: 16px;
    }
  }
<<<<<<< HEAD
  .fuego{
=======
  .product-big-two{
>>>>>>> 4dc86fc213c30ca942131a3d280f4d0ae9ab4cb2
    margin-top: 0 !important;
    img{
      width: 100% !important;
    }
    b{
      font-size: 16px;
    }
  }
<<<<<<< HEAD
=======
  .footer-mobile{

      color: $grey-1;

    .row-footer-2{
      background: $red;
      height: 50px;
    }
    .row-footer-3{
      height: 100px;
      background: $grey-4;
    }
    img{
      max-width: 100px;
    }
    .icon-footer{
      margin: 2px;
      max-width: 30px;
    }
  }
  .copyright{
    margin: 2px auto;
  }

  #carousel-culture{
    .carousel-caption{
      position: absolute;
      background: $white;
      color: $grey-4;
      padding: 5px;
      margin-bottom: -100px ;
    }
    padding-bottom: 0 !important;
    .carousel-inner{
      padding-bottom: 120px !important;
    }
  }

>>>>>>> 4dc86fc213c30ca942131a3d280f4d0ae9ab4cb2
}

// Small devices (landscape phones, less than 768px)
@media (min-width: 576px) and (max-width: 767.98px) {
<<<<<<< HEAD
  .body-front{
    //padding-top: 8% !important;
=======
  .nav-categories {
    .nav-item {
      padding: 0 15px;
    }
  }
  .body-front{
>>>>>>> 4dc86fc213c30ca942131a3d280f4d0ae9ab4cb2
    .title-home{
      font-size: 14px;
      padding: 15px 50px;
    }
    .btn-shipping{
      font-size: 14px;
      padding: 10px 0;
      img{
        width: 15%;

      }
    }
<<<<<<< HEAD
    .img-home-2{
      //width: 70%;
      //left: 0;
      //padding: 0;
    }
=======
>>>>>>> 4dc86fc213c30ca942131a3d280f4d0ae9ab4cb2
    .card-home{
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      font-size: 12px;
      h1{
        font-size: 14px;
      }
      p, b{
        font-size: 12px;
      }
    }
    .nav-products{
      .product-4{
        margin-left: 0;
        margin-top: 0;
      }
    }
    .decalogo{
      h1{
        padding-top: 15px;
        font-size: 24px !important;
        b{
          font-size: 24px !important;
        }
      }
      h2{
        padding-top: 20px;
      }
      //margin-top: -10%;
    }
<<<<<<< HEAD
    .zapatilla {
=======
    .product-big-one {
>>>>>>> 4dc86fc213c30ca942131a3d280f4d0ae9ab4cb2
      .playlist-grande {
        top: 93%;
      }
      .playlist-peque {
        bottom: 3%;
      }
    }
<<<<<<< HEAD
    .arte-polvora{
=======
    .article-two{
>>>>>>> 4dc86fc213c30ca942131a3d280f4d0ae9ab4cb2
      img{
        width: 100%;
      }
    }
<<<<<<< HEAD
    .fuego{
=======
    .product-big-two{
>>>>>>> 4dc86fc213c30ca942131a3d280f4d0ae9ab4cb2
      margin-top: 0;
    }
  }
  #menu{
    border-image: url("../images/Trenza-POQ.svg") 930 !important;
    padding: 30px 10px !important;
    a{
      font-size: 16px;
    }
    .cart-shopping{
      top: 25%;
      left: 94.5%;
    }
    .navbar-brand{
      left:0;
      right: 0;
      margin-right: auto;
      margin-left: auto;
      top: 4%;

    }
    .navbar-toggler{
      top: 25%;
      left: 1.95%;
      right: 94.5%;
      padding: 0;
    }
  }
  #menu-mobile{
    .navbar-brand{
      left: 44.5%;
      right: 44.5%;
      top: 80%;
      margin-right: 0;
      img{
        -webkit-filter: grayscale(1); /* Safari 6.0 - 9.0 */
        filter: grayscale(1);
      }
    }
    .navbar-toggler{
      top: 80%;
      left: 1.95%;
      right: 94.5%;
      padding: 0;
    }
    .dropdown{
      position: absolute;
      top: 19%;
      right: 1.95%;
      .nav-link{
        text-decoration: none;
        color: $white !important;
      }
    }
    hr.line-v{
      margin-top: 14%;
      height: 10% !important;
    }
    hr.line-v-2{
      height: 22% !important;
    }
  }
<<<<<<< HEAD
=======
  .footer{
    .row-footer-rombo{
      max-width: 991.98px !important;
    }
    background: linear-gradient(55deg,$white 0% ,$white 35%,$red 35%,$red 65%,$grey-4 65%,$grey-4 100%) !important;
  }
>>>>>>> 4dc86fc213c30ca942131a3d280f4d0ae9ab4cb2
}

// Medium devices (tablets, less than 992px)
@media (min-width: 768px) and (max-width: 991.98px) {
<<<<<<< HEAD
  .body-front{
    //padding-top: 7% !important;
    .title-home{
      font-size: 12px;
      //padding: 20px;
    }
    .btn-shipping{
      font-size: 14px;
      padding: 18px 5px 18px 5px;
      img{
=======
  .list-spotify {
    height: 60% !important;
  }
  .body-front {
    //padding-top: 7% !important;
    .title-home {
      font-size: 12px;
      //padding: 20px;
    }
    .btn-shipping {
      font-size: 14px;
      padding: 18px 5px 18px 5px;
      img {
>>>>>>> 4dc86fc213c30ca942131a3d280f4d0ae9ab4cb2
        width: 15%;

      }
    }
<<<<<<< HEAD
    .card-home{
      padding: 20px;
      padding-bottom: 0;
      h1{
        font-size: 14px;
      }
      p, b{
=======
    .card-home {
      padding: 20px;
      padding-bottom: 0;
      h1 {
        font-size: 14px;
      }
      p, b {
>>>>>>> 4dc86fc213c30ca942131a3d280f4d0ae9ab4cb2
        font-size: 12px;
      }
    }
    .nav-vertical {
      img {
        padding: 20px 10px;
        width: 60px;
      }
      margin-top: -175px;
      padding-left: 0;
      font-size: 14px;
    }
<<<<<<< HEAD
    .nav-products{
      .text-center{
        font-size: 14px;
      }
      .product-1{
        margin-top: 10%;
      }
      .product-2{
        margin-top: 10%;
      }
      .product-3{
        margin-top: 12%;
      }
    }
  }
  #menu{
    border-image: url("../images/Trenza-POQ.svg") 830 !important;
    a{
      font-size: 16px;
    }
    .cart-shopping{
      left: 95.5%;
    }
    .navbar-brand{
      left:0;
=======
    .nav-products {
      .text-center {
        font-size: 14px;
      }
      //.product-1{
      //  margin-top: 10%;
      //}
      //.product-2{
      //  margin-top: 10%;
      //}
      //.product-3{
      //  margin-top: 12%;
      //}
    }
  }
  #menu {
    border-image: url("../images/Trenza-POQ.svg") 830 !important;
    a {
      font-size: 16px;
    }
    .cart-shopping {
      left: 95.5%;
    }
    .navbar-brand {
      left: 0;
>>>>>>> 4dc86fc213c30ca942131a3d280f4d0ae9ab4cb2
      right: 0;
      margin-right: auto;
      margin-left: auto;
      top: 28%;
    }
  }
<<<<<<< HEAD
  .row-footer{
=======
  .row-footer {
>>>>>>> 4dc86fc213c30ca942131a3d280f4d0ae9ab4cb2
    background-color: $grey-3;
    //max-width: 100%;
  }

<<<<<<< HEAD
  #footer{
    img{
      width: 70%;
    }
    .row-footer-rombo{
      max-width: 991.98px !important;
    }
    background: linear-gradient(55deg,$white 0% ,$white 40%,$red 40%,$red 66.6%,$grey-4 66.6%,$grey-4 100%) !important;
  }
  .decalogo{
    h1{
      font-size: 26px !important;
      b{
        font-size: 26px !important;
      }
    }
    h2, p{
=======
  .footer {
    img {
      width: 70%;
    }
    .row-footer-rombo {
      max-width: 991.98px !important;
    }
    background: linear-gradient(55deg, $white 0%, $white 35%, $red 35%, $red 70%, $grey-4 70%, $grey-4 100%) !important;
  }
  .decalogo {
    h1 {
      font-size: 26px !important;
      b {
        font-size: 26px !important;
      }
    }
    h2, p {
>>>>>>> 4dc86fc213c30ca942131a3d280f4d0ae9ab4cb2
      padding-left: 20px;
      font-size: 12px;
    }

  }
<<<<<<< HEAD
=======
  .cards-magazine {
    .img-social {
      width: 16% !important;
    }
    .img-logo {
      width: 16% !important;
    }
  }
>>>>>>> 4dc86fc213c30ca942131a3d280f4d0ae9ab4cb2
}

// Large devices (desktops, less than 1200px)
//@media (max-width: 1199.98px) {
@media (min-width: 992px) and (max-width: 1279.99px) {
<<<<<<< HEAD
=======
  .cards-magazine {
    .img-social {
      width: 11% !important;
    }
    .img-logo {
      width: 11% !important;
    }
  }
>>>>>>> 4dc86fc213c30ca942131a3d280f4d0ae9ab4cb2
  .body-front{
    //padding-top: 5.3% !important;
    .title-home{
      font-size: 16px;
      padding: 25px;
    }
    .btn-shipping{
      font-size: 16px;
      padding: 20px 5px 20px 5px;
      img{
        width: 15%;

      }
    }
    .nav-vertical{
      margin-top: -175px;
    }
    .nav-products{
<<<<<<< HEAD
      .product-1{
        margin-top: 10%;
      }
      .product-2{
        margin-top: 15%;
      }
      .product-3{
        margin-top: 18%;
      }
=======
      //.product-1{
      //  margin-top: 10%;
      //}
      //.product-2{
      //  margin-top: 15%;
      //}
      //.product-3{
      //  margin-top: 18%;
      //}
>>>>>>> 4dc86fc213c30ca942131a3d280f4d0ae9ab4cb2
    }
  }
  #menu{
    border-image: url("../images/Trenza-POQ.svg") 630 !important;
    a{
      font-size: 16px;
    }
    .cart-shopping{
      top: 33%;
      left: 96%;
    }
    .navbar-brand{
      left:0;
      right: 0;
      margin-right: auto;
      margin-left: auto;
      top: 28%;
    }
  }
<<<<<<< HEAD
  #footer {
=======
  .footer {
>>>>>>> 4dc86fc213c30ca942131a3d280f4d0ae9ab4cb2
    .container{
      padding: 0;
    }
    background: linear-gradient(
                    55deg,
                    $grey-3 0%,
                    $grey-3 41%,
                    $white 41%,
                    $white 56.5%,
                    $red 56.5%,
                    $red 72.3%,
                    $grey-4 72.3%,
                    $grey-4 100%
    ) !important;
    img{
      width: 65% !important;
    }
  }
  .decalogo{
    h1{
      font-size: 34px !important;
      b{
        font-size: 34px !important;
      }
    }
    h2, p{
      padding-left: 15px;
      font-size: 14px;
    }

  }
}
@media (min-width: 1280px) and (max-width: 1550px) {
<<<<<<< HEAD
  #footer {
=======
  .footer {
>>>>>>> 4dc86fc213c30ca942131a3d280f4d0ae9ab4cb2
    background: linear-gradient(
                    55deg,
                    $grey-3 0%,
                    $grey-3 41%,
                    $white 41%,
                    $white 56%,
                    $red 56%,
                    $red 71%,
                    $grey-4 71%,
                    $grey-4 100%
    ) !important;
  }
}