h1{
  font-size: 18px;
  font-weight: $regular;
}

h2{
  font-size: 16px;
  font-weight: $regular;
}

h3{
  font-size: 14px;
  font-weight: $regular;
}
h4{
  font-size: 12px;
  font-weight: $regular;
}
h5{
  font-size: 10px;
  font-weight: $regular;
}

b{
  font-size: 16px;
}

.title-home{
  padding: 40px;
}