//fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

$primary-font: 'Open Sans', sans-serif;
$regular: 400;
$light: 300;
$bold: 700;

//colores
$white: #FFFFFF;
$grey-1: #F5F5F5;
$grey-2: #D8D8D8;
$grey-3: #9B9B9B;
$grey-4: #4A4A4A;
$grey-5: #333333;
$yellow: #FFDB10;
$green: #7ED321;
$red: #D5271F;
$light-blue: #2285B9;
