@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");
@media (max-width: 575.98px) {
  .body-front .img-home-2 {
    margin: 0; }
  .body-front .card-home {
    margin-top: -30%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    padding: 30px 30px 10px 30px; }
  .body-front h1 {
    font-size: 24px; }
    .body-front h1 b {
      font-size: 24px; }
  .body-front b {
    font-size: 12px; }
  .body-front .nav-products {
    margin-top: 10px; }
    .body-front .nav-products .product-1, .body-front .nav-products .product-2, .body-front .nav-products .product-3, .body-front .nav-products .product-4 {
      width: 80%;
      left: 0;
      right: 0;
      margin: 0 auto 0 auto; }
    .body-front .nav-products .product-4 {
      margin-top: 0;
      float: inherit; }

  #menu {
    padding: 30px 10px !important;
    border-bottom: 40px solid transparent;
    border-image: url("../images/Trenza-POQ.svg") 1060 !important; }
    #menu a {
      font-size: 16px; }
    #menu .cart-shopping {
      top: 30%;
      left: 93%; }
    #menu .navbar-brand {
      left: 0;
      right: 0;
      margin-right: auto;
      margin-left: auto;
      top: 14%;
      width: 102px; }
    #menu .navbar-toggler {
      top: 30%;
      left: 1.95%;
      right: 93%;
      padding: 0; }

  #menu-mobile .navbar {
    padding: 1.5rem 1rem; }
  #menu-mobile .navbar-brand {
    left: 41%;
    right: 41%;
    top: 20%; }
  #menu-mobile .navbar-toggler {
    top: 20%;
    left: 1.95%;
    right: 93%;
    padding: 0;
    border: 0; }
  #menu-mobile .dropdown {
<<<<<<< HEAD
=======
    text-align: right;
>>>>>>> 4dc86fc213c30ca942131a3d280f4d0ae9ab4cb2
    position: absolute;
    top: 20%;
    right: 1.95%; }
    #menu-mobile .dropdown .nav-link {
      text-decoration: none;
      color: #FFFFFF !important;
      font-weight: 300; }
<<<<<<< HEAD
=======
    #menu-mobile .dropdown .dropdown-menu {
      background: #9B9B9B; }
>>>>>>> 4dc86fc213c30ca942131a3d280f4d0ae9ab4cb2
  #menu-mobile hr.line-v {
    margin-top: 14%;
    height: 10% !important; }
  #menu-mobile hr.line-v-2 {
    height: 10% !important;
    top: 50%; }

  .decalogo {
    margin: 10px auto; }
    .decalogo h1 {
      padding-top: 20px;
      font-size: 24px !important; }
      .decalogo h1 b {
        font-size: 24px !important; }
    .decalogo h2, .decalogo b {
      font-size: 16px;
      padding-top: 25px; }

<<<<<<< HEAD
  .arte-polvora img {
    width: 100% !important; }
  .arte-polvora b {
    font-size: 16px; }

  .fuego {
    margin-top: 0 !important; }
    .fuego img {
      width: 100% !important; }
    .fuego b {
      font-size: 16px; } }
@media (min-width: 576px) and (max-width: 767.98px) {
=======
  .article-two img {
    width: 100% !important; }
  .article-two b {
    font-size: 16px; }

  .product-big-two {
    margin-top: 0 !important; }
    .product-big-two img {
      width: 100% !important; }
    .product-big-two b {
      font-size: 16px; }

  .footer-mobile {
    color: #F5F5F5; }
    .footer-mobile .row-footer-2 {
      background: #D5271F;
      height: 50px; }
    .footer-mobile .row-footer-3 {
      height: 100px;
      background: #4A4A4A; }
    .footer-mobile img {
      max-width: 100px; }
    .footer-mobile .icon-footer {
      margin: 2px;
      max-width: 30px; }

  .copyright {
    margin: 2px auto; }

  #carousel-culture {
    padding-bottom: 0 !important; }
    #carousel-culture .carousel-caption {
      position: absolute;
      background: #FFFFFF;
      color: #4A4A4A;
      padding: 5px;
      margin-bottom: -100px; }
    #carousel-culture .carousel-inner {
      padding-bottom: 120px !important; } }
@media (min-width: 576px) and (max-width: 767.98px) {
  .nav-categories .nav-item {
    padding: 0 15px; }

>>>>>>> 4dc86fc213c30ca942131a3d280f4d0ae9ab4cb2
  .body-front .title-home {
    font-size: 14px;
    padding: 15px 50px; }
  .body-front .btn-shipping {
    font-size: 14px;
    padding: 10px 0; }
    .body-front .btn-shipping img {
      width: 15%; }
  .body-front .card-home {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    font-size: 12px; }
    .body-front .card-home h1 {
      font-size: 14px; }
    .body-front .card-home p, .body-front .card-home b {
      font-size: 12px; }
  .body-front .nav-products .product-4 {
    margin-left: 0;
    margin-top: 0; }
  .body-front .decalogo h1 {
    padding-top: 15px;
    font-size: 24px !important; }
    .body-front .decalogo h1 b {
      font-size: 24px !important; }
  .body-front .decalogo h2 {
    padding-top: 20px; }
<<<<<<< HEAD
  .body-front .zapatilla .playlist-grande {
    top: 93%; }
  .body-front .zapatilla .playlist-peque {
    bottom: 3%; }
  .body-front .arte-polvora img {
    width: 100%; }
  .body-front .fuego {
=======
  .body-front .product-big-one .playlist-grande {
    top: 93%; }
  .body-front .product-big-one .playlist-peque {
    bottom: 3%; }
  .body-front .article-two img {
    width: 100%; }
  .body-front .product-big-two {
>>>>>>> 4dc86fc213c30ca942131a3d280f4d0ae9ab4cb2
    margin-top: 0; }

  #menu {
    border-image: url("../images/Trenza-POQ.svg") 930 !important;
    padding: 30px 10px !important; }
    #menu a {
      font-size: 16px; }
    #menu .cart-shopping {
      top: 25%;
      left: 94.5%; }
    #menu .navbar-brand {
      left: 0;
      right: 0;
      margin-right: auto;
      margin-left: auto;
      top: 4%; }
    #menu .navbar-toggler {
      top: 25%;
      left: 1.95%;
      right: 94.5%;
      padding: 0; }

  #menu-mobile .navbar-brand {
    left: 44.5%;
    right: 44.5%;
    top: 80%;
    margin-right: 0; }
    #menu-mobile .navbar-brand img {
      -webkit-filter: grayscale(1);
      /* Safari 6.0 - 9.0 */
      filter: grayscale(1); }
  #menu-mobile .navbar-toggler {
    top: 80%;
    left: 1.95%;
    right: 94.5%;
    padding: 0; }
  #menu-mobile .dropdown {
    position: absolute;
    top: 19%;
    right: 1.95%; }
    #menu-mobile .dropdown .nav-link {
      text-decoration: none;
      color: #FFFFFF !important; }
  #menu-mobile hr.line-v {
    margin-top: 14%;
    height: 10% !important; }
  #menu-mobile hr.line-v-2 {
<<<<<<< HEAD
    height: 22% !important; } }
@media (min-width: 768px) and (max-width: 991.98px) {
=======
    height: 22% !important; }

  .footer {
    background: linear-gradient(55deg, #FFFFFF 0%, #FFFFFF 35%, #D5271F 35%, #D5271F 65%, #4A4A4A 65%, #4A4A4A 100%) !important; }
    .footer .row-footer-rombo {
      max-width: 991.98px !important; } }
@media (min-width: 768px) and (max-width: 991.98px) {
  .list-spotify {
    height: 60% !important; }

>>>>>>> 4dc86fc213c30ca942131a3d280f4d0ae9ab4cb2
  .body-front .title-home {
    font-size: 12px; }
  .body-front .btn-shipping {
    font-size: 14px;
    padding: 18px 5px 18px 5px; }
    .body-front .btn-shipping img {
      width: 15%; }
  .body-front .card-home {
    padding: 20px;
    padding-bottom: 0; }
    .body-front .card-home h1 {
      font-size: 14px; }
    .body-front .card-home p, .body-front .card-home b {
      font-size: 12px; }
  .body-front .nav-vertical {
    margin-top: -175px;
    padding-left: 0;
    font-size: 14px; }
    .body-front .nav-vertical img {
      padding: 20px 10px;
      width: 60px; }
  .body-front .nav-products .text-center {
    font-size: 14px; }
<<<<<<< HEAD
  .body-front .nav-products .product-1 {
    margin-top: 10%; }
  .body-front .nav-products .product-2 {
    margin-top: 10%; }
  .body-front .nav-products .product-3 {
    margin-top: 12%; }
=======
>>>>>>> 4dc86fc213c30ca942131a3d280f4d0ae9ab4cb2

  #menu {
    border-image: url("../images/Trenza-POQ.svg") 830 !important; }
    #menu a {
      font-size: 16px; }
    #menu .cart-shopping {
      left: 95.5%; }
    #menu .navbar-brand {
      left: 0;
      right: 0;
      margin-right: auto;
      margin-left: auto;
      top: 28%; }

  .row-footer {
    background-color: #9B9B9B; }

<<<<<<< HEAD
  #footer {
    background: linear-gradient(55deg, #FFFFFF 0%, #FFFFFF 40%, #D5271F 40%, #D5271F 66.6%, #4A4A4A 66.6%, #4A4A4A 100%) !important; }
    #footer img {
      width: 70%; }
    #footer .row-footer-rombo {
=======
  .footer {
    background: linear-gradient(55deg, #FFFFFF 0%, #FFFFFF 35%, #D5271F 35%, #D5271F 70%, #4A4A4A 70%, #4A4A4A 100%) !important; }
    .footer img {
      width: 70%; }
    .footer .row-footer-rombo {
>>>>>>> 4dc86fc213c30ca942131a3d280f4d0ae9ab4cb2
      max-width: 991.98px !important; }

  .decalogo h1 {
    font-size: 26px !important; }
    .decalogo h1 b {
      font-size: 26px !important; }
  .decalogo h2, .decalogo p {
    padding-left: 20px;
<<<<<<< HEAD
    font-size: 12px; } }
@media (min-width: 992px) and (max-width: 1279.99px) {
=======
    font-size: 12px; }

  .cards-magazine .img-social {
    width: 16% !important; }
  .cards-magazine .img-logo {
    width: 16% !important; } }
@media (min-width: 992px) and (max-width: 1279.99px) {
  .cards-magazine .img-social {
    width: 11% !important; }
  .cards-magazine .img-logo {
    width: 11% !important; }

>>>>>>> 4dc86fc213c30ca942131a3d280f4d0ae9ab4cb2
  .body-front .title-home {
    font-size: 16px;
    padding: 25px; }
  .body-front .btn-shipping {
    font-size: 16px;
    padding: 20px 5px 20px 5px; }
    .body-front .btn-shipping img {
      width: 15%; }
  .body-front .nav-vertical {
    margin-top: -175px; }
<<<<<<< HEAD
  .body-front .nav-products .product-1 {
    margin-top: 10%; }
  .body-front .nav-products .product-2 {
    margin-top: 15%; }
  .body-front .nav-products .product-3 {
    margin-top: 18%; }
=======
>>>>>>> 4dc86fc213c30ca942131a3d280f4d0ae9ab4cb2

  #menu {
    border-image: url("../images/Trenza-POQ.svg") 630 !important; }
    #menu a {
      font-size: 16px; }
    #menu .cart-shopping {
      top: 33%;
      left: 96%; }
    #menu .navbar-brand {
      left: 0;
      right: 0;
      margin-right: auto;
      margin-left: auto;
      top: 28%; }

<<<<<<< HEAD
  #footer {
    background: linear-gradient(55deg, #9B9B9B 0%, #9B9B9B 41%, #FFFFFF 41%, #FFFFFF 56.5%, #D5271F 56.5%, #D5271F 72.3%, #4A4A4A 72.3%, #4A4A4A 100%) !important; }
    #footer .container {
      padding: 0; }
    #footer img {
=======
  .footer {
    background: linear-gradient(55deg, #9B9B9B 0%, #9B9B9B 41%, #FFFFFF 41%, #FFFFFF 56.5%, #D5271F 56.5%, #D5271F 72.3%, #4A4A4A 72.3%, #4A4A4A 100%) !important; }
    .footer .container {
      padding: 0; }
    .footer img {
>>>>>>> 4dc86fc213c30ca942131a3d280f4d0ae9ab4cb2
      width: 65% !important; }

  .decalogo h1 {
    font-size: 34px !important; }
    .decalogo h1 b {
      font-size: 34px !important; }
  .decalogo h2, .decalogo p {
    padding-left: 15px;
    font-size: 14px; } }
@media (min-width: 1280px) and (max-width: 1550px) {
<<<<<<< HEAD
  #footer {
=======
  .footer {
>>>>>>> 4dc86fc213c30ca942131a3d280f4d0ae9ab4cb2
    background: linear-gradient(55deg, #9B9B9B 0%, #9B9B9B 41%, #FFFFFF 41%, #FFFFFF 56%, #D5271F 56%, #D5271F 71%, #4A4A4A 71%, #4A4A4A 100%) !important; } }
.body-front {
  padding-top: 4%; }

.navbar-toggler {
  top: 5px;
  position: absolute;
  cursor: pointer;
  left: 5px;
  border: 0; }

.navbar-light .navbar-toggler {
  padding: 10px;
  border-color: #FFFFFF; }

#menu {
  border-image: url("../images/Trenza-POQ.svg") 330;
  border-bottom: 50px solid transparent;
  font-weight: 400;
  padding: 20px 10px;
  font-size: 18px;
  color: #4A4A4A; }
  #menu .cart-shopping:not(.show) {
    display: block; }

.navbar-brand {
  position: absolute;
  width: 109px;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  top: 30%; }

.cart-shopping {
  position: absolute;
  top: 29%;
  right: 1.95%;
  left: 96.5%; }

#menu-mobile {
  position: absolute;
  top: 0;
  left: 0;
  background: #4A4A4A;
  height: 100%;
  width: 100%;
  color: #FFFFFF; }
  #menu-mobile a {
    color: #FFFFFF; }
  #menu-mobile .navbar-brand {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    width: 109px; }
  #menu-mobile hr.line-v {
    width: 1px;
    background-color: #FFFFFF; }
  #menu-mobile hr.line-v-2 {
    width: 1px;
    background-color: #FFFFFF; }
  #menu-mobile .links-mobile .nav-item.sobre-poq {
    font-weight: 400;
    font-style: normal;
    padding-bottom: 10px; }
  #menu-mobile .links-mobile .nav-item {
    padding-bottom: 5px;
    font-style: italic;
    font-weight: 300;
    font-size: 14px; }
    #menu-mobile .links-mobile .nav-item .nav-link {
      padding: 0; }

.nav-vertical {
  margin-top: -100px;
  padding-left: 20px; }
  .nav-vertical img {
    padding: 20px 10px;
    width: 85px; }
  .nav-vertical a {
    text-decoration: none;
    color: #333333;
    font-weight: 300; }

.nav-products .text-center {
  padding: 0; }
.nav-products .price {
  color: #2285B9;
  margin-bottom: 0; }
.nav-products a {
  text-decoration: none;
  color: #4A4A4A;
  font-size: 18px;
  font-weight: 300; }
.nav-products .product-1 {
  padding: auto;
<<<<<<< HEAD
  margin-top: 5%;
  margin-bottom: 10%;
  margin-left: 5%; }
.nav-products .product-2 {
  margin-top: 5%;
  margin-bottom: 10%; }
.nav-products .product-3 {
  margin-top: 5%;
  margin-bottom: 10%; }
.nav-products .product-4 {
  margin-top: -30%;
=======
  margin-top: 5%; }
.nav-products .product-2 {
  margin-top: 5%; }
.nav-products .product-3 {
  margin-top: 5%; }
.nav-products .product-4 {
  margin-top: -15%;
>>>>>>> 4dc86fc213c30ca942131a3d280f4d0ae9ab4cb2
  margin-left: -50%;
  float: left; }
.nav-products img {
  max-width: 320px; }

<<<<<<< HEAD
=======
.nav-categories .nav-item {
  border: 1px solid #4A4A4A;
  margin: 5px;
  padding: 0 30px; }
  .nav-categories .nav-item .nav-link {
    color: #4A4A4A;
    text-decoration: none;
    text-transform: uppercase; }
  .nav-categories .nav-item .nav-link:hover, .nav-categories .nav-item .nav-link:focus {
    color: #333333;
    border: #333333; }

.nav-magazine .nav-item .nav-link {
  color: #4A4A4A;
  text-decoration: none; }
  .nav-magazine .nav-item .nav-link .img-class-category {
    width: 40px; }

>>>>>>> 4dc86fc213c30ca942131a3d280f4d0ae9ab4cb2
.prueba .columna-1 {
  height: 100px;
  left: 39.46%;
  right: 21.02%;
  top: 99.35%;
  bottom: -3.63%;
  border-top: 100px;
  border-right: 100px solid transparent;
  background: #DADADA; }

.rombo {
  width: 0;
  border-right: 100px solid transparent;
  border-bottom: 100px solid #08B; }

<<<<<<< HEAD
#footer {
  background: linear-gradient(55deg, #9B9B9B 0%, #9B9B9B 49%, #FFFFFF 49%, #FFFFFF 59.5%, #D5271F 59.5%, #D5271F 68%, #4A4A4A 68%, #4A4A4A 100%);
  min-height: 160px;
  color: #FFFFFF;
  font-size: 12px;
  font-family: 400; }
  #footer a {
    color: #FFFFFF; }
  #footer img {
    width: 60%; }
  #footer .icon-footer {
    max-width: 18%;
    margin: 2px;
    height: 18%; }
  #footer .icon-spotify {
=======
.row-footer {
  background: #9B9B9B; }
  .row-footer p, .row-footer a {
    color: #F5F5F5; }
  .row-footer a:hover, .row-footer a:focus {
    color: #F5F5F5; }

.footer {
  background: linear-gradient(55deg, #9B9B9B 0%, #9B9B9B 43.5%, #FFFFFF 43.5%, #FFFFFF 54.5%, #D5271F 54.5%, #D5271F 66%, #4A4A4A 66%, #4A4A4A 100%);
  color: #FFFFFF;
  font-size: 12px;
  font-family: 400; }
  .footer a {
    color: #FFFFFF;
    text-decoration: none; }
  .footer a:hover, .footer a:focus {
    text-decoration: none;
    color: #F5F5F5; }
  .footer img {
    max-width: 120px; }
  .footer .icon-footer {
    max-width: 33px;
    margin: 2px;
    height: 18%; }
  .footer .icon-spotify {
>>>>>>> 4dc86fc213c30ca942131a3d280f4d0ae9ab4cb2
    height: 40%; }

h1 {
  font-size: 18px;
  font-weight: 400; }

h2 {
  font-size: 16px;
  font-weight: 400; }

h3 {
  font-size: 14px;
  font-weight: 400; }

h4 {
  font-size: 12px;
  font-weight: 400; }

h5 {
  font-size: 10px;
  font-weight: 400; }

b {
  font-size: 16px; }

.title-home {
  padding: 40px; }

img {
  width: 100%;
  height: auto; }

.img-home-1 {
  position: absolute;
  left: 0;
  width: 25%; }

<<<<<<< HEAD
=======
.text-culture-right, .text-culture-left {
  color: #4A4A4A; }
  .text-culture-right h3, .text-culture-left h3 {
    font-size: 14px;
    font-weight: 400; }
  .text-culture-right p, .text-culture-left p {
    font-size: 12px;
    font-weight: 300; }

.text-culture-right {
  float: right;
  position: absolute;
  top: 2%;
  right: 2%; }

.text-culture-left {
  float: left;
  position: absolute;
  bottom: 2%;
  left: 2%; }

#carousel-culture {
  padding-bottom: 40px; }
  #carousel-culture h3 {
    font-size: 14px;
    font-weight: 400;
    color: #4A4A4A; }
  #carousel-culture p {
    font-size: 12px;
    font-weight: 300; }
  #carousel-culture .carousel-inner {
    padding-bottom: 20px; }
  #carousel-culture .carousel-indicators {
    margin-top: 20px; }
    #carousel-culture .carousel-indicators li {
      width: 10px;
      height: 10px;
      border: 1px #4A4A4A solid;
      border-radius: 50%;
      background: #D8D8D8; }
    #carousel-culture .carousel-indicators li .active {
      background: #4A4A4A; }

.list-spotify {
  width: 100%;
  height: 70%; }

>>>>>>> 4dc86fc213c30ca942131a3d280f4d0ae9ab4cb2
.btn {
  border: 1px solid #D8D8D8;
  border-radius: 0; }

.btn:hover {
  color: #333333;
  border-color: #9B9B9B; }

.btn-back {
  position: absolute;
  border-left: 0;
  left: 0;
<<<<<<< HEAD
  padding: 24px 8px 24px 50px;
=======
  padding: 20px 8px 20px 60px;
>>>>>>> 4dc86fc213c30ca942131a3d280f4d0ae9ab4cb2
  color: #4A4A4A;
  font-size: 18px;
  font-weight: 300; }

.btn-shipping {
  position: absolute;
  border-right: 0;
  right: 0;
  padding: 24px 5px 24px 5px;
  color: #4A4A4A;
  font-size: 18px;
  font-weight: 300; }
  .btn-shipping img {
    width: 15%; }

<<<<<<< HEAD
=======
.price {
  color: #2285B9;
  font-size: 18px;
  font-weight: 300; }

>>>>>>> 4dc86fc213c30ca942131a3d280f4d0ae9ab4cb2
.card-home {
  margin-left: 68%;
  margin-top: -70px;
  font-weight: 300;
  padding: 40px 40px 10px 40px; }
  .card-home h1 {
    font-weight: 300; }

.decalogo {
  color: #4A4A4A; }
  .decalogo h1 {
    font-size: 36px;
    font-weight: 300;
    margin-bottom: 0; }
    .decalogo h1 b {
      font-size: 36px; }
  .decalogo p {
    margin-bottom: 0; }

<<<<<<< HEAD
.molino {
  font-weight: 300;
  color: #4A4A4A; }
  .molino h2 {
    font-size: 16px; }
  .molino p {
    font-size: 14px; }
  .molino a {
    text-decoration: none;
    color: #4A4A4A;
    font-size: 12px;
    font-weight: 400; }
  .molino .triangulo-grande {
=======
.article-one a, .article-two a, .article-three a {
  text-decoration: none;
  color: #4A4A4A;
  font-size: 12px;
  font-weight: 400; }
.article-one p, .article-two p, .article-three p {
  font-weight: 300;
  font-size: 14px; }

.article-one {
  font-weight: 300;
  color: #4A4A4A; }
  .article-one h2 {
    font-size: 16px; }
  .article-one .triangulo-grande {
>>>>>>> 4dc86fc213c30ca942131a3d280f4d0ae9ab4cb2
    position: absolute;
    right: 25%;
    top: -10%;
    width: 40%; }
<<<<<<< HEAD
  .molino .triangulo-peque {
=======
  .article-one .triangulo-peque {
>>>>>>> 4dc86fc213c30ca942131a3d280f4d0ae9ab4cb2
    position: absolute;
    right: 25%;
    top: 25%;
    width: 5%; }

<<<<<<< HEAD
.fuego {
  margin-top: 100px;
  color: #4A4A4A; }
  .fuego img {
    width: 70%;
    float: right; }
  .fuego .text-product {
    font-size: 14px; }
  .fuego .title-product {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0; }
  .fuego .price {
    color: #2285B9;
    font-weight: 400;
    margin-bottom: 0; }
  .fuego .hombre-fuego {
    width: 100%; }
  .fuego p {
    font-weight: 300;
    font-size: 14px; }
  .fuego a {
    color: #4A4A4A;
    text-decoration: none;
    font-size: 12px; }

.arte-polvora {
  margin-top: -40px;
  color: #4A4A4A; }
  .arte-polvora img {
    width: 60%;
    float: right; }
  .arte-polvora p {
    font-weight: 300;
    font-size: 14px; }
  .arte-polvora a {
    color: #4A4A4A;
    text-decoration: none;
    font-size: 12px; }
  .arte-polvora .triangulo-grande {
=======
.article-three {
  color: #4A4A4A; }
  .article-three img {
    float: right; }
  .article-three .text-product {
    font-size: 14px; }
  .article-three .title-product {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0; }
  .article-three .price {
    color: #2285B9;
    font-weight: 400;
    margin-bottom: 0; }
  .article-three .hombre-fuego {
    width: 100%; }

.article-two {
  color: #4A4A4A; }
  .article-two img {
    float: right; }
  .article-two .triangulo-grande {
>>>>>>> 4dc86fc213c30ca942131a3d280f4d0ae9ab4cb2
    position: absolute;
    top: 50%;
    left: 22%;
    width: 40%; }
<<<<<<< HEAD
  .arte-polvora .triangulo-peque {
=======
  .article-two .triangulo-peque {
>>>>>>> 4dc86fc213c30ca942131a3d280f4d0ae9ab4cb2
    position: absolute;
    top: 57%;
    left: 20%;
    width: 10%; }

<<<<<<< HEAD
.zapatilla {
  font-weight: 300; }
  .zapatilla .playlist-grande {
=======
.product-big-one {
  font-weight: 300; }
  .product-big-one .playlist-grande {
>>>>>>> 4dc86fc213c30ca942131a3d280f4d0ae9ab4cb2
    position: absolute;
    left: 45%;
    bottom: 15%;
    width: 30px; }
<<<<<<< HEAD
  .zapatilla .playlist-peque {
=======
  .product-big-one .playlist-peque {
>>>>>>> 4dc86fc213c30ca942131a3d280f4d0ae9ab4cb2
    position: absolute;
    left: 60%;
    bottom: 10%;
    width: 15px; }
<<<<<<< HEAD
  .zapatilla p {
    font-size: 14px; }
  .zapatilla .text-product {
    font-size: 14px; }
  .zapatilla .title-product {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0; }
  .zapatilla .price {
=======
  .product-big-one p {
    font-size: 14px; }
  .product-big-one .text-product {
    font-size: 14px; }
  .product-big-one .title-product {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0; }
  .product-big-one .price {
>>>>>>> 4dc86fc213c30ca942131a3d280f4d0ae9ab4cb2
    color: #2285B9;
    font-weight: 400;
    margin-bottom: 0; }

.line1 {
  position: absolute;
  left: 57%;
  width: 73%;
  top: 50%;
  border-bottom: 1px solid #333333;
  transform: rotate(51deg);
  /* top: -20px; */ }

<<<<<<< HEAD
=======
.categoires-img-1 {
  position: absolute;
  width: 10%;
  top: 20%;
  left: 0; }

.categoires-img-2 {
  position: absolute;
  width: 10%;
  top: 40%;
  right: 0; }

.categoires-img-3 {
  position: absolute;
  width: 10%;
  top: 60%;
  left: 0; }

.categoires-img-4 {
  position: absolute;
  width: 10%;
  top: 80%;
  right: 0; }

.cards-magazine .img-social {
  margin: 5px;
  width: 10%; }
.cards-magazine .img-logo {
  width: 10%;
  margin: 5px;
  border-radius: 50%;
  border: 1px solid #4A4A4A;
  padding: 3px; }
.cards-magazine .bg-grey {
  background: #F5F5F5; }
.cards-magazine a {
  color: #4A4A4A;
  font-weight: 300;
  text-decoration: none; }
.cards-magazine a:hover, .cards-magazine a:focus {
  color: #9B9B9B;
  font-weight: 300;
  text-decoration: none; }

>>>>>>> 4dc86fc213c30ca942131a3d280f4d0ae9ab4cb2
html, body {
  font-family: "Open Sans", sans-serif;
  height: 100%;
  width: 100%; }

/*# sourceMappingURL=main.css.map */
