@import "variables.scss";
@import "responsive.scss";
@import "navbar.scss";
@import "footer.scss";
@import "tipography.scss";
@import "images.scss";
@import "buttons.scss";
@import "card.scss";

html, body{
  font-family: $primary-font;
  height: 100%;
  width: 100%;
}
