{#<footer id="footer" class="ui inverted vertical footer segment">#}
    {#<div class="ui container">#}
        {#<div class="ui inverted divided equal height stackable grid">#}
            {#{{ sonata_block_render_event('sylius.shop.layout.before_footer') }}#}

            {#<div class="three wide column">#}
                {#<h4 class="ui inverted header">{{ 'sylius.ui.your_store'|trans }}</h4>#}
                {#<div class="ui inverted link list">#}
                    {#<a href="#" class="item">{{ 'sylius.ui.about'|trans }}</a>#}
                    {#<a href="#" class="item">{{ 'sylius.ui.terms_and_conditions'|trans }}</a>#}
                    {#<a href="#" class="item">{{ 'sylius.ui.privacy_policy'|trans }}</a>#}
                    {#<a href="{{ path('sylius_shop_contact_request') }}" class="item">{{ 'sylius.ui.contact_us'|trans }}</a>#}
                {#</div>#}
            {#</div>#}
            {#<div class="three wide column">#}
                {#<h4 class="ui inverted header">{{ 'sylius.ui.customer_care'|trans  }}</h4>#}
                {#<div class="ui inverted link list">#}
                    {#<a href="{{ path('sylius_shop_contact_request') }}" class="item">{{ 'sylius.ui.contact_us'|trans  }}</a>#}
                    {#<a href="#" class="item">{{ 'sylius.ui.faqs'|trans  }}</a>#}
                    {#<a href="#" class="item">{{ 'sylius.ui.delivery_and_shipping'|trans  }}</a>#}
                    {#<a href="#" class="item">{{ 'sylius.ui.returns_policy'|trans  }}</a>#}
                {#</div>#}
            {#</div>#}
            {#<div class="eight wide column">#}
                {#<h4 class="ui inverted header">&copy; {{ 'sylius.ui.your_store'|trans }}</h4>#}
                {#<p>{{ 'sylius.ui.powered_by'|trans }} <a href="http://sylius.com" target="_blank" style="color: #1abb9c;">Sylius</a>.</p>#}
            {#</div>#}

            {#{{ sonata_block_render_event('sylius.shop.layout.after_footer') }}#}
        {#</div>#}
    {#</div>#}
{#</footer>#}
<<<<<<< HEAD
<div class="prueba">
    <div class="columna-1">ksjabfkjsb</div>
    <div class="columna-2"></div>
    <div class="columna-3"></div>
    <div class="columna-4"></div>
</div>
<footer id="footer">
    <div class="container row-footer-rombo">
        <div class="row desktop-footer align-items-center py-4">
            <div class="col-lg-6 d-none d-lg-block column-footer-1 justify-content-center">
                {#<div class="row justify-content-start">#}
                    {##}
                {#</div>#}
                <div class="row">
                    <div class="col-12">
                        <p><b>SOBRE POQ culture</b></p>
=======

<footer class="footer d-none d-sm-flex">
    <div class="container row-footer-rombo">
        <div class="row desktop-footer align-items-center py-4">
            <div class="col-lg-5 d-none d-lg-block column-footer-1 justify-content-center">
                <div class="row">
                    <div class="col-12">
                        <p><b>{{ 'app.ui.about'|trans }} POQ culture</b></p>
>>>>>>> 4dc86fc213c30ca942131a3d280f4d0ae9ab4cb2
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <ul class="list-unstyled">
<<<<<<< HEAD
                            <li><a href="#">POQ Culture</a></li>
                            <li><a href="#">Preguntas frecuentes</a></li>
                            <li><a href="#">Política de privacidad</a></li>
                            <li><a href="#">Envíos y devoluciones</a></li>
=======
                            <li><a href="{{ path('sylius_shop_culture') }}">POQ Culture</a></li>
                            <li><a href="{{ path('sylius_shop_faq') }}">{{ 'sylius.ui.faqs'|trans  }}</a></li>
                            <li><a href="{{ path('sylius_shop_privacy') }}">{{ 'sylius.ui.privacy_policy'|trans }}</a></li>
                            <li><a href="{{ path('sylius_shop_shipping') }}">{{ 'sylius.ui.delivery_and_shipping'|trans  }}</a></li>
>>>>>>> 4dc86fc213c30ca942131a3d280f4d0ae9ab4cb2
                        </ul>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <ul class="list-unstyled">
<<<<<<< HEAD
                            <li><a href="#">Confidencialidad</a></li>
                            <li><a href="#">Aviso legal</a></li>
                            <li><a href="#">Condiciones de uso</a></li>
                            <li><a href="#">Política de cookies</a></li>
=======
                            <li><a href="{{ path('sylius_shop_confidentiality') }}">{{ 'app.ui.confidentiality'|trans }}</a></li>
                            <li><a href="{{ path('sylius_shop_legal') }}">{{ 'app.ui.legal'|trans }}</a></li>
                            <li><a href="{{ path('sylius_shop_terms') }}">{{ 'app.ui.terms'|trans }}</a></li>
                            <li><a href="{{ path('sylius_shop_cookies') }}">{{ 'app.ui.cookies'|trans }}</a></li>
>>>>>>> 4dc86fc213c30ca942131a3d280f4d0ae9ab4cb2
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 col-12 column-footer-2">
                <img class="img-fluid d-block mx-auto" src="{{ asset('custom/images/Logo-POQ-Culture.svg') }}">
            </div>
<<<<<<< HEAD
            <div class="col-lg-2 col-md-3 col-sm-4 col-12 column-footer-3">
=======
            <div class="col-lg-2 col-md-4 col-sm-4 col-12 column-footer-3">
>>>>>>> 4dc86fc213c30ca942131a3d280f4d0ae9ab4cb2
                <div class="row justify-content-center">
                    <img src="{{ asset('custom/images/Ico-Instagram.svg') }}" class="img-fluid icon-footer">
                    <img src="{{ asset('custom/images/Ico-Youtube.svg') }}" class="img-fluid icon-footer">
                    <img src="{{ asset('custom/images/Ico-Facebook.svg') }}" class="img-fluid icon-footer">
                    <img src="{{ asset('custom/images/Ico-Twitter.svg') }}" class="img-fluid icon-footer">
                </div>
                <div class="row justify-content-center">
                    <img src="{{ asset('custom/images/Logo-Spotify.svg') }}" class="img-fluid icon-spotify">
                </div>
            </div>
<<<<<<< HEAD
            <div class="col-lg-2 col-md-3 col-sm-4 col-12 column-footer-4 text-right px-0">
                <p class="m-0">ATENCIÓN AL CLIENTE</p>
                <p class="m-0"><b>+34 966 666 666</b></p>
                <p class="m-0">Luner a Viernes de 9 a 20 hs.</p>
            </div>
        </div>
    </div>
    <div class="row-footer d-block d-lg-none">
        <div class="container">
            <div class="row justify-content-center py-2">
                <p><b>SOBRE POQ culture</b></p>
            </div>
            <div class="row">
                <div class="col-3">
                    <ul class="list-unstyled">
                        <li><a href="#">POQ Culture</a></li>
                        <li><a href="#">Preguntas frecuentes</a></li>
                    </ul>
                </div>
                <div class="col-3">
                    <ul class="list-unstyled">
                        <li><a href="#">Política de privacidad</a></li>
                        <li><a href="#">Envíos y devoluciones</a></li>
                    </ul>
                </div>
                <div class="col-3">
                    <ul class="list-unstyled">
                        <li><a href="#">Confidencialidad</a></li>
                        <li><a href="#">Aviso legal</a></li>
                    </ul>
                </div>
                <div class="col-3">
                    <ul class="list-unstyled">
                        <li><a href="#">Condiciones de uso</a></li>
                        <li><a href="#">Política de cookies</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
=======
            <div class="col-lg-3 col-md-4 col-sm-4 col-12 column-footer-4 text-right pr-4 px-lg-0">
                <p class="m-0">{{ 'app.ui.customer_support'|trans|upper }}</p>
                <p class="m-0"><b>+34 966 666 666</b></p>
                <p class="m-0">{{ 'app.ui.monday_friday'|trans }} 9 a 20 hs.</p>
            </div>
        </div>
    </div>
</footer>
<div class="d-flex d-sm-none pt-2 footer-mobile">
    <div class="container">
        <div class="row justify-content-center">
            <img class="img-fluid d-flex" src="{{ asset('custom/images/Logo-POQ-Culture.svg') }}">
        </div>
        <div class="row justify-content-center row-footer-2">
            <img src="{{ asset('custom/images/Ico-Instagram.svg') }}" class="img-fluid icon-footer">
            <img src="{{ asset('custom/images/Ico-Youtube.svg') }}" class="img-fluid icon-footer">
            <img src="{{ asset('custom/images/Ico-Facebook.svg') }}" class="img-fluid icon-footer">
            <img src="{{ asset('custom/images/Ico-Twitter.svg') }}" class="img-fluid icon-footer">
        </div>
        <div class="row row-footer-3">
            <div class="text-center m-auto">
                <p class="m-auto">{{ 'app.ui.customer_support'|trans|upper }}</p>
                <p class="m-auto"><b>+34 966 666 666</b></p>
                <p class="m-auto">{{ 'app.ui.monday_friday'|trans }} 9 a 20 hs.</p>
            </div>
        </div>
        <div class="row row-footer">
            <div class="text-center m-auto">
                <p><b>{{ 'app.ui.about'|trans }} POQ culture</b></p>
                <ul class="list-unstyled">
                    <li><a href="{{ path('sylius_shop_culture') }}">POQ Culture</a></li>
                    <li><a href="{{ path('sylius_shop_faq') }}">{{ 'sylius.ui.faqs'|trans  }}</a></li>
                    <li><a href="{{ path('sylius_shop_privacy') }}">{{ 'sylius.ui.privacy_policy'|trans }}</a></li>
                    <li><a href="{{ path('sylius_shop_shipping') }}">{{ 'sylius.ui.delivery_and_shipping'|trans  }}</a></li>
                    <li><a href="{{ path('sylius_shop_confidentiality') }}">{{ 'app.ui.confidentiality'|trans }}</a></li>
                    <li><a href="{{ path('sylius_shop_legal') }}">{{ 'app.ui.legal'|trans }}</a></li>
                    <li><a href="{{ path('sylius_shop_terms') }}">{{ 'app.ui.terms'|trans }}</a></li>
                    <li><a href="{{ path('sylius_shop_cookies') }}">{{ 'app.ui.cookies'|trans }}</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row-footer d-none d-sm-flex d-lg-none">
    <div class="container">
        <div class="row justify-content-center py-2">
            <p><b>{{ 'app.ui.about'|trans }} POQ culture</b></p>
        </div>
        <div class="row">
            <div class="col-3">
                <ul class="list-unstyled">
                    <li><a href="#">POQ Culture</a></li>
                    <li><a href="#">{{ 'sylius.ui.faqs'|trans  }}</a></li>
                </ul>
            </div>
            <div class="col-3">
                <ul class="list-unstyled">
                    <li><a href="#">{{ 'sylius.ui.privacy_policy'|trans }}</a></li>
                    <li><a href="#">{{ 'sylius.ui.delivery_and_shipping'|trans  }}</a></li>
                </ul>
            </div>
            <div class="col-3">
                <ul class="list-unstyled">
                    <li><a href="#">{{ 'app.ui.confidentiality'|trans }}</a></li>
                    <li><a href="#">{{ 'app.ui.legal'|trans }}</a></li>
                </ul>
            </div>
            <div class="col-3">
                <ul class="list-unstyled">
                    <li><a href="#">{{ 'app.ui.terms'|trans }}</a></li>
                    <li><a href="#">{{ 'app.ui.cookies'|trans }}</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="copyright">
    <div class="container">
        2018 - Copyright &copy; POQ
    </div>
</div>
>>>>>>> 4dc86fc213c30ca942131a3d280f4d0ae9ab4cb2
