{#<!DOCTYPE html>#}

{#<html lang="{{ app.request.locale|slice(0, 2) }}">#}
{#<head>#}
    {#<meta charset="utf-8">#}
    {#<meta http-equiv="X-UA-Compatible" content="IE=edge">#}

    {#<title>{% block title %}POQ{% endblock %}</title>#}

    {#<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">#}

    {#{% block metatags %}#}
    {#{% endblock %}#}

    {#{% block stylesheets %}#}
        {#<!--[if lt IE 9]>#}
        {#<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>#}
        {#<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>#}
        {#<![endif]-->#}
        {#<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">#}
        {#<script defer src="https://use.fontawesome.com/releases/v5.0.11/js/all.js" integrity="sha384-ImVoB8Er8knetgQakxuBS4G3RSkyD8IZVVQCAnmRJrDwqJFYUE4YOv+DbIofcO9C" crossorigin="anonymous"></script>#}

        {#{% include '@SyliusUi/_stylesheets.html.twig' with {'path': 'assets/shop/css/style.css'} %}#}

        {#{{ sonata_block_render_event('sylius.shop.layout.stylesheets') }}#}
    {#{% endblock %}#}

        {#{{ sonata_block_render_event('sylius.shop.layout.head') }}#}
{#</head>#}

{#<body class="pushable">#}
{#{{ sonata_block_render_event('sylius.shop.layout.before_body') }}#}
{#<div class="pusher">#}
    {#{% block top %}#}
        {#<div id="menu" class="ui large sticky inverted stackable menu">#}
            {#{{ sonata_block_render_event('sylius.shop.layout.before_currency_switcher') }}#}

            {#{{ render(controller('sylius.controller.shop.currency_switch:renderAction')) }}#}
            {#{{ render(controller('sylius.controller.shop.locale_switch:renderAction')) }}#}

            {#{{ sonata_block_render_event('sylius.shop.layout.before_security_widget') }}#}

            {#{{ render(controller('sylius.controller.shop.security_widget:renderAction')) }}#}

            {#{{ sonata_block_render_event('sylius.shop.layout.after_security_widget') }}#}
        {#</div>#}
    {#{% endblock %}#}

    {#<div class="ui container">#}
        {#{% block header %}#}
            {#<header>#}
                {#{% include '@SyliusShop/_header.html.twig' %}#}

                {#{{ sonata_block_render_event('sylius.shop.layout.after_header') }}#}

                {#{{ render(url('sylius_shop_partial_taxon_index_by_code', {'code': 'category', 'template': '@SyliusShop/Taxon/_horizontalMenu.html.twig'})) }}#}
            {#</header>#}
        {#{% endblock %}#}

        {#{% include '@SyliusShop/_flashes.html.twig' %}#}

        {#{{ sonata_block_render_event('sylius.shop.layout.before_content') }}#}

        {#{% block content %}#}
        {#{% endblock %}#}

        {#{{ sonata_block_render_event('sylius.shop.layout.after_content') }}#}
    {#</div>#}

    {#{% block footer %}#}
        {#{% include '@SyliusShop/_footer.html.twig' %}#}
    {#{% endblock %}#}
{#</div>#}

{#{% block javascripts %}#}
    {#{% include '@SyliusUi/_javascripts.html.twig' with {'path': 'assets/shop/js/app.js'} %}#}

    {#{{ sonata_block_render_event('sylius.shop.layout.javascripts') }}#}
{#{% endblock %}#}

{#{% include '@SyliusUi/Modal/_confirmation.html.twig' %}#}
{#{{ sonata_block_render_event('sylius.shop.layout.after_body') }}#}
{#</body>#}
{#</html>#}

<!DOCTYPE html>
<html lang="{{ app.request.locale|slice(0, 2) }}">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}POQ{% endblock %}</title>
        <link rel="icon" href="{{ asset('images/icon_sin_libreto.jpg') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% block stylesheets %}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
            <script defer src="https://use.fontawesome.com/releases/v5.0.11/js/all.js" integrity="sha384-ImVoB8Er8knetgQakxuBS4G3RSkyD8IZVVQCAnmRJrDwqJFYUE4YOv+DbIofcO9C" crossorigin="anonymous"></script>
            <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
            <![endif]-->
            {#{% include '@SyliusUi/_stylesheets.html.twig' with {'path': 'assets/shop/css/style.css'} %}#}
            <link rel="stylesheet" href="{{ asset('custom/scss/main.css') }}">
        {% endblock %}
        {{ sonata_block_render_event('sylius.shop.layout.head') }}
    </head>
    {% block body %}
    <body>
        {% block top %}
            <nav id="menu" class="navbar navbar-light navbar-expand-md justify-content-between">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu-mobile">
                    <img src="{{ asset('custom/images/Ico-Menu.svg') }}" class="img-fluid">
                </button>
                <!-- account toggle -->
                <div class="navbar-collapse collapse dual-nav w-50 order-1 order-md-0">
                    <ul class="navbar-nav">
                        {{ sonata_block_render_event('sylius.shop.layout.before_currency_switcher') }}

                        {{ render(controller('sylius.controller.shop.currency_switch:renderAction')) }}
                        {{ render(controller('sylius.controller.shop.locale_switch:renderAction')) }}

                        <li class="nav-item">
                            <a class="nav-link pl-0" href="{{ path('sylius_shop_culture') }}">POQ Culture <span class="sr-only">Home</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('sylius_shop_magazine') }}">Magazine</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('sylius_shop_shop') }}">Shop</a>
                        </li>
                    </ul>
                </div>
<<<<<<< HEAD
                {#<img src="{{ asset('custom/images/Trenza-POQ.svg') }}" class="trenza">#}
                <a href="{{ path('sylius_shop_homepage') }}" class="navbar-brand"><img src="{{ asset('custom/images/Logo-POQ.svg') }}" class="img-fluid"></a>
                <a class="cart-shopping" href=""><img src="{{ asset('custom/images/Ico-Carrito.svg') }}"> </a>
            </nav>
            {#<nav id="menu-mobile" class="collapse">#}
                {#<div class="navbar">#}
                    {#<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu-mobile">#}
                        {#<img src="{{ asset('custom/images/Ico-Cerrar.svg') }}" class="img-fluid">#}
                    {#</button>#}
                    {#<a href="{{ path('sylius_shop_homepage') }}" class="navbar-brand"><img src="{{ asset('custom/images/Logo-POQ-white.png') }}"></a>#}
                    {#<ul class="navbar-nav justify-content-end">#}
                        {#{{ render(controller('sylius.controller.shop.locale_switch:renderAction')) }}#}
                    {#</ul>#}
                {#</div>#}
                {#<hr class="line-v mx-auto"/>#}
                {#<ul class="navbar-nav mx-auto text-center">#}
                    {#<li class="nav-item"><a class="nav-link" href="{{ path('sylius_shop_culture') }}">POQ Culture</a></li>#}
                    {#<li class="nav-item"><a class="nav-link" href="{{ path('sylius_shop_magazine') }}">Magazine</a></li>#}
                    {#<li class="nav-item"><a class="nav-link" href="{{ path('sylius_shop_shop') }}">Shop</a></li>#}
                {#</ul>#}
                {#<hr class="line-v-2 mx-auto"/>#}
                {#<ul class="navbar-nav mx-auto text-center links-mobile">#}
                    {#<li class="nav-item sobre-poq"><a class="nav-link" href="{{ path('sylius_shop_about') }}">SOBRE POQ Culture</a></li>#}
                    {#<li class="nav-item"><a class="nav-link" href="{{ path('sylius_shop_faq') }}">Preguntas frecuentes</a></li>#}
                    {#<li class="nav-item"><a class="nav-link" href="{{ path('sylius_shop_privacy') }}">Política de privacidad</a></li>#}
                    {#<li class="nav-item"><a class="nav-link" href="{{ path('sylius_shop_shipping') }}">Envíos y devoluciones</a></li>#}
                    {#<li class="nav-item"><a class="nav-link" href="{{ path('sylius_shop_confidentiality') }}">Confidencialidad</a></li>#}
                    {#<li class="nav-item"><a class="nav-link" href="{{ path('sylius_shop_legal') }}">Aviso legal</a></li>#}
                    {#<li class="nav-item"><a class="nav-link" href="{{ path('sylius_shop_terms') }}">Condiciones de uso</a></li>#}
                    {#<li class="nav-item"><a class="nav-link" href="{{ path('sylius_shop_cookies') }}">Política de cookies</a></li>#}
                {#</ul>#}
            {#</nav>#}
        {% endblock %}
        <div class="container-fluid body-front">
=======
                <a href="{{ path('sylius_shop_homepage') }}" class="navbar-brand"><img src="{{ asset('custom/images/Logo-POQ.svg') }}" class="img-fluid"></a>
                <a class="cart-shopping" href=""><img src="{{ asset('custom/images/Ico-Carrito.svg') }}"> </a>
            </nav>
        {% endblock %}
        <div class="container-fluid body-front px-0">
>>>>>>> 4dc86fc213c30ca942131a3d280f4d0ae9ab4cb2
            {% block header %}
                {#<header>#}
                {#{% include '@SyliusShop/_header.html.twig' %}#}

                {#{{ sonata_block_render_event('sylius.shop.layout.after_header') }}#}

                {#{{ render(url('sylius_shop_partial_taxon_index_by_code', {'code': 'category', 'template': '@SyliusShop/Taxon/_horizontalMenu.html.twig'})) }}#}
                {#</header>#}
            {% endblock %}

            {% include '@SyliusShop/_flashes.html.twig' %}


            {% block content %}

            {% endblock %}
        </div>
        <nav id="menu-mobile" class="collapse">
            <div class="navbar">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu-mobile">
                    <img src="{{ asset('custom/images/Ico-Cerrar.svg') }}" class="img-fluid">
                </button>
                <a href="{{ path('sylius_shop_homepage') }}" class="navbar-brand"><img src="{{ asset('custom/images/Logo-POQ-white.png') }}"></a>
                <ul class="navbar-nav justify-content-end">
                    {{ render(controller('sylius.controller.shop.locale_switch:renderAction')) }}
                </ul>
            </div>
            <hr class="line-v mx-auto"/>
            <ul class="navbar-nav mx-auto text-center">
                <li class="nav-item"><a class="nav-link" href="{{ path('sylius_shop_culture') }}">POQ Culture</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ path('sylius_shop_magazine') }}">Magazine</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ path('sylius_shop_shop') }}">Shop</a></li>
            </ul>
            <hr class="line-v-2 mx-auto"/>
            <ul class="navbar-nav mx-auto text-center links-mobile">
<<<<<<< HEAD
                <li class="nav-item sobre-poq"><a class="nav-link" href="{{ path('sylius_shop_about') }}">SOBRE POQ Culture</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ path('sylius_shop_faq') }}">Preguntas frecuentes</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ path('sylius_shop_privacy') }}">Política de privacidad</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ path('sylius_shop_shipping') }}">Envíos y devoluciones</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ path('sylius_shop_confidentiality') }}">Confidencialidad</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ path('sylius_shop_legal') }}">Aviso legal</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ path('sylius_shop_terms') }}">Condiciones de uso</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ path('sylius_shop_cookies') }}">Política de cookies</a></li>
            </ul>
        </nav>
        {% block footer %}
            {#{% include '@SyliusShop/_footer.html.twig' %}#}
=======
                <li class="nav-item sobre-poq"><a class="nav-link" href="{{ path('sylius_shop_about') }}">{{ 'app.ui.about'|trans }} POQ Culture</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ path('sylius_shop_faq') }}">{{ 'sylius.ui.faqs'|trans }}</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ path('sylius_shop_privacy') }}">{{ 'sylius.ui.privacy_policy'|trans }}</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ path('sylius_shop_shipping') }}">{{ 'sylius.ui.shipping'|trans }}</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ path('sylius_shop_confidentiality') }}">{{ 'app.ui.confidentiality'|trans }}</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ path('sylius_shop_legal') }}">{{ 'app.ui.legal'|trans }}</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ path('sylius_shop_terms') }}">{{ 'app.ui.terms'|trans }}</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ path('sylius_shop_cookies') }}">{{ 'app.ui.cookies'|trans }}</a></li>
            </ul>
        </nav>
        {% block footer %}
            {% include '@SyliusShop/_footer.html.twig' %}
>>>>>>> 4dc86fc213c30ca942131a3d280f4d0ae9ab4cb2
        {% endblock %}
        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
            {% include '@SyliusUi/_javascripts.html.twig' with {'path': 'assets/shop/js/app.js'} %}
            {{ sonata_block_render_event('sylius.shop.layout.javascripts') }}
            <script>
                $('.collapse').on('shown.bs.collapse', function () {
                    console.log('ok');
                    // document.getElementById("menu");
                })
            </script>
        {% endblock %}
        {% include '@SyliusUi/Modal/_confirmation.html.twig' %}
        {{ sonata_block_render_event('sylius.shop.layout.after_body') }}
    </body>
    {% endblock %}
</html>
