{% from '@SyliusAdmin/Macro/translationForm.html.twig' import translationForm %}

{#{{ form_errors(form) }}#}

<div class="ui two column stackable grid">
    <div class="column">
        <div class="ui segment">
            {{ translationForm(form.translations) }}
        </div>
    </div>
    <div class="column">
        {{ form_errors(form) }}
        <div class="ui segment">
            {{ form_row(form.category) }}
            {{ form_row(form.nameSocialNetwork) }}
            {{ form_row(form.linkSocialNetwork) }}
        </div>
        <div class="ui segment">
            <h3 class="ui dividing header">{{ 'app.ui.form_spotify'|trans }}</h3>
            {{ form_row(form.listSpotify) }}
            {{ form_row(form.linkSpotify) }}
        </div>
        <div class="ui segment">
            {{ form_row(form.images) }}
        </div>
        <div class="ui segment">
            {{ form_row(form.is_active) }}
        </div>
    </div>
</div>