{% extends '@SyliusShop/layout.html.twig' %}

{% block content %}
    <a href="{{ path('sylius_shop_homepage') }}">HOME</a>

    {#<h2 class="ui horizontal section divider header">#}
    {#{{ 'sylius.ui.latest_products'|trans }}#}
    {#</h2>#}
    {#{{ render(url('sylius_shop_partial_product_index_latest', {'count': 4, 'template': '@SyliusShop/Product/_horizontalList.html.twig'})) }}#}
{% endblock %}