<<<<<<< HEAD
{% if product.imagesByType('thumbnail') is not empty %}
    {% set path = product.imagesByType('thumbnail').first.path|imagine_filter(filter|default('sylius_shop_product_thumbnail')) %}
=======
{% if product.imagesByType('homepage') is not empty %}
    {% set path = product.imagesByType('homepage').first.path|imagine_filter(filter|default('sylius_shop_product_thumbnail')) %}
>>>>>>> 4dc86fc213c30ca942131a3d280f4d0ae9ab4cb2
{% elseif product.images.first %}
    {% set path = product.images.first.path|imagine_filter(filter|default('sylius_shop_product_thumbnail')) %}
{% else %}
    {% set path = '//placehold.it/200x200' %}
{% endif %}

<img src="{{ path }}" alt="{{ product.name }}" class="ui bordered image" />
