{% if locales|length > 1 %}
    <li class="nav-item dropdown">
        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-angle-right"></i> {{ app.request.locale|slice(0, 2) }}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% for code in locales %}
                {% if code is not same as(active) %}
                    <a href="{{ path('sylius_shop_switch_locale', {'code': code}) }}" class="dropdown-item">
                        {{ code|sylius_locale_name }}
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    </li>
    {#<div class="ui pointing dropdown link item" id="sylius-locale-selector">#}
        {#<span class="text sylius-active-locale">{{ active|sylius_locale_name }}</span>#}
        {#<i class="dropdown icon"></i>#}
        {#<div class="menu">#}
            {#{% for code in locales %}#}
                {#{% if code is not same as(active) %}#}
                    {#<a href="{{ path('sylius_shop_switch_locale', {'code': code}) }}" class="item sylius-available-locale">#}
                        {#{{ code|sylius_locale_name }}#}
                    {#</a>#}
                {#{% endif %}#}
            {#{% endfor %}#}
        {#</div>#}
    {#</div>#}
{% endif %}
